Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

test(core): dedupe retention tests to clear duplication gate (#326)
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): writable History Limit (vault meta) + items-only pruning + disable (#326) (#345)
  CONTEXT.md
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/database.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/history.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/vault.rs
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/VaultHistorySettingsControl.tsx
  src/components/settings/sections/__tests__/DatabaseSettingsSection.test.tsx
  src/components/settings/sections/__tests__/VaultHistorySettingsControl.test.tsx
  src/hooks/use-vault-history-settings.ts
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): clear Entry history (per-Entry + vault-wide) (#327)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/history.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/__tests__/DatabaseSettingsSection.test.tsx
  src/hooks/use-vault-history-settings.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): surface vault-wide clear-history failures + cover the path
  src/hooks/__tests__/use-vault-history-settings.test.tsx
  src/hooks/use-vault-history-settings.ts
  src/lib/tauri.test.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

test(ui): fix typecheck in vault-history clearAll test
  src/hooks/__tests__/use-vault-history-settings.test.tsx
Due: frontend

chore(deps): bump reqwest 0.12 → 0.13 (rustls feature switch)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(core): clear Entry history (per-Entry + vault-wide) (#327) (#346)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/history.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/__tests__/DatabaseSettingsSection.test.tsx
  src/hooks/__tests__/use-vault-history-settings.test.tsx
  src/hooks/use-vault-history-settings.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix: update fs4 locking API usage
  src-tauri/src/services/audit/storage.rs
Due: backend

feat(ui): compare current vs historical Entry version (diff view)
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

fix(ui): disambiguate built-in tokens and handle protection toggles in compare
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
Due: frontend

fix(ui): render both rows when a custom field collides with a built-in token
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
Due: frontend

refactor(ui): extract custom-field compare row to cut cognitive complexity
  src/components/entries/EntryHistoryCompareDialog.tsx
Due: frontend

feat(ui): compare current vs historical Entry version (diff view) (#355)
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(core): name added/removed attachments in history compare view
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

refactor: cut history-compare cognitive complexity and test duplication
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistoryCompareDialog.tsx
Due: frontend, backend

feat(core): name added/removed attachments in history compare view (#357)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistoryCompareDialog.tsx
  src/components/entries/__tests__/EntryHistoryCompareDialog.test.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

security(deps): bump quinn-proto to 0.11.15 (RUSTSEC-2026-0185)
  src-tauri/Cargo.lock
Due: none

security(deps): bump quinn-proto to 0.11.15 (RUSTSEC-2026-0185) (#360)
  src-tauri/Cargo.lock
Due: none

security(deps): migrate audit AEAD to chacha20poly1305 0.11 API
  src-tauri/src/services/audit/crypto.rs
Due: backend

security(deps): enable zeroize feature on chacha20poly1305 0.11
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix(ui): open DateTimePicker on selected month + prettier 3.9 formatting
  src/components/layout/database-tab-bar.tsx
  src/components/ui/date-time-picker.tsx
  src/hooks/use-active-database.ts
Due: frontend

fix(ui): guard DateTimePicker defaultMonth for exactOptionalPropertyTypes
  src/components/ui/date-time-picker.tsx
Due: frontend

chore(deps): migrate to ESLint 10 and swap in @eslint-react
  bun.lock
  eslint.config.js
  package.json
  src/components/entries/EntryItemDetails.tsx
  src/hooks/use-entry-list-keyboard.ts
Due: frontend

fix(ui): open DateTimePicker calendar on the selected month
  src/components/ui/date-time-picker.tsx
Due: frontend

security(deps): bump quick-xml to 0.41.0 (RUSTSEC-2026-0194/0195)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

security(deps): bump quick-xml to 0.41.0 (RUSTSEC-2026-0194/0195) (#365)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix: align frontend tooling updates
  bun.lock
  package.json
  src/components/layout/database-tab-bar.tsx
  src/hooks/use-active-database.ts
Due: frontend

chore(deps): complete @zxcvbn-ts v4 upgrade (language packages + API migration)
  bun.lock
  package.json
  src/components/ui/__tests__/password-strength-indicator.test.tsx
  src/components/ui/password-strength-indicator.tsx
Due: frontend

fix(sync): address merge review findings (attachments, unrelated vault, rollback, stale name)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/dto/error.rs
  src-tauri/src/services/kdbx/merge.rs
Due: backend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
