Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(core): migrate rand usage to 0.10 API
  src-tauri/src/commands/generator.rs
  src-tauri/src/services/kdbx/keyfile.rs
  src-tauri/src/services/secure_storage.rs
Due: backend

fix(ui): drop deprecated baseUrl for TypeScript 6 compatibility
  tsconfig.json
Due: none

chore(deps): bump vite to 8.0.11 and @vitejs/plugin-react to 6.0.1
  bun.lock
  package.json
Due: none

chore(deps): bump vite to 8.0.11 and @vitejs/plugin-react to 6.0.1 (#175)
  bun.lock
  package.json
Due: none

chore(deps): align tauri-runtime-wry with tauri-runtime 2.11.1
  src-tauri/Cargo.lock
Due: none

ci(deps): allowlist libdbus-sys for dependency review
  .github/dependency-review.yml
Due: none

Update routeTree.gen.ts
  src/routeTree.gen.ts
Due: frontend

fix(ci): unblock clippy 1.95 and dependency review
  .github/dependency-review.yml
  deny.toml
  src-tauri/src/services/kdbx/mod.rs
Due: backend

test: cover favicon custom icon pipeline
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src/lib/tauri.test.ts
Due: frontend, backend

fix(ui): distinguish favicon refetch outcomes and surface custom icons in edit form
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/favicons.rs
  src/components/entries/EntryEditForm.tsx
  src/components/entries/IconPickerPopover.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/entry-edit-form/EntryTitleField.tsx
  src/hooks/use-entry-edit-form.ts
  src/lib/formTypes.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): use is_ok_and for https scheme check to satisfy clippy 1.95
  src-tauri/src/services/kdbx/favicons.rs
Due: backend

fix(core): tighten favicon HTTPS, persist picked custom icon, auto-fetch from saveAndNew
  src-tauri/src/services/kdbx/favicons.rs
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/hooks/use-entry-edit-form.ts
Due: frontend, backend

fix(core): cap favicon download size while streaming and sync edit form after favicon mutations
  src-tauri/src/services/kdbx/favicons.rs
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/hooks/use-entry-edit-form.ts
Due: frontend, backend

fix(core): stop favicon cooldown self-renewal and apply custom icon on entry create
  src-tauri/src/services/kdbx/favicons.rs
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/hooks/use-entry-edit-form.ts
Due: frontend, backend

fix(ui): bypass favicon cooldown on manual refetch and isolate custom-icon failures
  src-tauri/src/services/kdbx/favicons.rs
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/hooks/use-entry-edit-form.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): restrict favicon lookups to http(s) URLs and use the public suffix list
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/favicons.rs
Due: backend

fix(deps): swap psl for public-suffix to unblock GitHub dependency-review
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/favicons.rs
Due: backend

fix(deps): revert favicon PSL lookup to psl crate and allowlist its slash license
  .github/dependency-review.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/favicons.rs
Due: backend

refactor(core): migrate kdbx services to keepass 0.12 flat-id API
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/src/services/kdbx/open.rs
Due: backend

fix(core): stabilize group order and handle self-soft-delete of recycle bin
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/tests/commands/groups_test.rs
Due: backend

fix(core): always emit iconId for entries with custom icons
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/mapping.rs
Due: backend

fix(core): make icon round-trip lossless and stop clobbering favicons on save
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/mapping.rs
  src/hooks/use-entry-edit-form.ts
  src/lib/types.ts
Due: frontend, backend

add skills
  .agents/skills/caveman/SKILL.md
  .agents/skills/diagnose/SKILL.md
  .agents/skills/diagnose/scripts/hitl-loop.template.sh
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/ADR-FORMAT.md
  .agents/skills/grill-with-docs/CONTEXT-FORMAT.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/DEEPENING.md
  .agents/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .agents/skills/improve-codebase-architecture/LANGUAGE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prototype/LOGIC.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/prototype/UI.md
  .agents/skills/setup-matt-pocock-skills/SKILL.md
  .agents/skills/setup-matt-pocock-skills/domain.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-local.md
  .agents/skills/setup-matt-pocock-skills/triage-labels.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/tdd/mocking.md
  .agents/skills/tdd/refactoring.md
  .agents/skills/tdd/tests.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/triage/AGENT-BRIEF.md
  .agents/skills/triage/OUT-OF-SCOPE.md
  .agents/skills/triage/SKILL.md
  .agents/skills/write-a-skill/SKILL.md
  .agents/skills/zoom-out/SKILL.md
  skills-lock.json
Due: none

add skills (#181)
  .agents/skills/caveman/SKILL.md
  .agents/skills/diagnose/SKILL.md
  .agents/skills/diagnose/scripts/hitl-loop.template.sh
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/ADR-FORMAT.md
  .agents/skills/grill-with-docs/CONTEXT-FORMAT.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/DEEPENING.md
  .agents/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .agents/skills/improve-codebase-architecture/LANGUAGE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prototype/LOGIC.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/prototype/UI.md
  .agents/skills/setup-matt-pocock-skills/SKILL.md
  .agents/skills/setup-matt-pocock-skills/domain.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-local.md
  .agents/skills/setup-matt-pocock-skills/triage-labels.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/tdd/mocking.md
  .agents/skills/tdd/refactoring.md
  .agents/skills/tdd/tests.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/triage/AGENT-BRIEF.md
  .agents/skills/triage/OUT-OF-SCOPE.md
  .agents/skills/triage/SKILL.md
  .agents/skills/write-a-skill/SKILL.md
  .agents/skills/zoom-out/SKILL.md
  skills-lock.json
Due: none

refactor(core): split favicon pipeline from custom icon storage
  CONTEXT.md
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/favicons/candidates.rs
  src-tauri/src/services/kdbx/favicons/http.rs
  src-tauri/src/services/kdbx/favicons/image.rs
  src-tauri/src/services/kdbx/favicons/lookup.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
Due: backend

refactor(core): extract password generator into services/
  src-tauri/src/commands/generator.rs
  src-tauri/src/services/generator.rs
  src-tauri/src/services/mod.rs
Due: backend

refactor(ui): split useEntryEditForm into focused sub-hooks
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-form-icon-actions.ts
  src/hooks/use-entry-form-secrets.ts
Due: frontend

refactor(core): unify settings persistence shape with preferences
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/hooks/use-recent-databases.ts
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

refactor(core): split favicon pipeline from custom icon storage (#182)
  CONTEXT.md
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/favicons/candidates.rs
  src-tauri/src/services/kdbx/favicons/http.rs
  src-tauri/src/services/kdbx/favicons/image.rs
  src-tauri/src/services/kdbx/favicons/lookup.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
Due: backend

fix(core): hide recycle bin entries from unfiltered list
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
Due: backend

fix(core): hide recycle bin entries from unfiltered list (#187)
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
Due: backend

refactor(core): introduce Vault seam for scoped KDBX access
  CONTEXT.md
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/vault.rs
Due: backend

Implemented the review fix in entries.rs
  src-tauri/src/services/kdbx/entries.rs
Due: backend

docs: clarify vault access boundary
  CONTEXT.md
Due: none

refactor(core): introduce Vault seam for scoped KDBX access (#183)
  CONTEXT.md
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/vault.rs
Due: backend

refactor(core): extract password generator into services/ (#184)
  src-tauri/src/commands/generator.rs
  src-tauri/src/services/generator.rs
  src-tauri/src/services/mod.rs
Due: backend

refactor(ui): split useEntryEditForm into focused sub-hooks (#185)
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-form-icon-actions.ts
  src/hooks/use-entry-form-secrets.ts
Due: frontend

refactor(core): unify settings persistence shape with preferences (#186)
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/hooks/use-recent-databases.ts
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(core): pre-save vault snapshot MVP with enable-backups toggle (#190)
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/kdbx_save.rs
  src-tauri/tests/services/settings_service_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
