Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(core): lock-in-place after restore so the post-restore unlock screen works
  src-tauri/src/services/kdbx/restore.rs
Due: backend

feat(core,ui): in-place restore with pre-restore snapshot and vault auto-close (#196) (#214)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/restore.rs
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/hooks/__tests__/use-database-closed.test.tsx
  src/hooks/use-database-closed.ts
  src/lib/tauri.ts
  src/locales/en/common.json
  src/routes/__root.tsx
Due: frontend, backend

docs: add audit log design ADR and domain glossary
  CONTEXT.md
  docs/adr/0001-audit-log-design.md
Due: none

docs: add audit log design ADR and domain glossary (#225)
  CONTEXT.md
  docs/adr/0001-audit-log-design.md
Due: none

feat(core,ui): audit log tracer bullet for vault.unlock_failed (#216)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/audit.rs
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/crypto.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/key.rs
  src-tauri/src/services/audit/mod.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
  src-tauri/src/services/audit/vault_id.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(core): use sort_by_key for newest-first audit list
  src-tauri/src/commands/audit.rs
Due: backend

fix(core): harden FileBackedAuditKey against silent key rotation
  src-tauri/src/services/audit/key.rs
Due: backend

fix(core): atomically publish audit key via temp file + hard_link
  src-tauri/src/services/audit/key.rs
Due: backend

fix(core,ui): surface audit read failures and degraded state to the UI
  src-tauri/src/commands/audit.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/services/audit/service.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(core): flag degraded when audit frames are silently skipped
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
Due: backend

fix(core): take shared advisory lock on the audit log read path
  src-tauri/src/services/audit/storage.rs
Due: backend

feat(core,ui): audit log tracer bullet for vault.unlock_failed (#216) (#226)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/audit.rs
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/crypto.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/key.rs
  src-tauri/src/services/audit/mod.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
  src-tauri/src/services/audit/vault_id.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): audit log records vault.opened and vault.locked with reason (#217)
  src-tauri/src/commands/database.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(core): close TOCTOU on lock/unlock audit by returning did_transition
  src-tauri/src/commands/database.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/kdbx_open.rs
Due: backend

chore: update grill-with-docs and prototype skills
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/prototype/SKILL.md
  skills-lock.json
Due: none

chore: update grill-with-docs and prototype skills (#229)
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/prototype/SKILL.md
  skills-lock.json
Due: none

feat(core,ui): audit log records entry-level reveal/copy events
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): audit log records vault.opened and vault.locked with reason (#217) (#228)
  src-tauri/src/commands/database.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(ui): drop JSX.Element annotation in audit test wrapper
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

fix(ui): gate audit-log title resolution on isLocked and make it reactive
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/views/SettingsView.tsx
Due: frontend

fix(core): audit protected-field clipboard copy as protected_field_revealed
  src-tauri/src/commands/clipboard.rs
  src-tauri/tests/command_handlers_test.rs
Due: backend

feat(core,ui): audit log records entry-level reveal/copy events (#230)
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
  src/views/SettingsView.tsx
Due: frontend, backend

feat(core,ui): audit settings with enabled toggle and retention days (#219)
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/AuditLogSettingsSection.tsx
  src/components/settings/sections/__tests__/AuditLogSettingsSection.test.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

chore(core): satisfy clippy::map_unwrap_or under --all-features
  src-tauri/src/lib.rs
Due: backend

chore(ui): clarify audit retention copy and add subtree to other locales
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(core,ui): audit settings with enabled toggle and retention days (#219) (#231)
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/AuditLogSettingsSection.tsx
  src/components/settings/sections/__tests__/AuditLogSettingsSection.test.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core,ui): manual audit log clear with surviving audit.cleared event (#220)
  src-tauri/src/commands/audit.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(core,ui): address PR review for audit log clear (#220)
  src-tauri/src/services/audit/storage.rs
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/locales/de/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core,ui): audit log records preferences.security_changed for allowlisted keys (#221)
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/settings.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): manual audit log clear with surviving audit.cleared event (#220) (#232)
  src-tauri/src/commands/audit.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): age-based audit log retention with 10 MB size cap (#222)
  CONTEXT.md
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
Due: backend

fix(core): use map_or for audit service file size lookups
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/service.rs
Due: backend

fix(core): seed audit oldest-timestamp cache from disk on first record
  src-tauri/src/services/audit/service.rs
Due: backend

style(core): collapse audit retention test key binding to one line
  src-tauri/src/services/audit/service.rs
Due: backend

fix(core): record preferences.security_changed before flipping audit gate; cover reset path
  src-tauri/src/commands/settings.rs
Due: backend

fix(core): capture audit.enabled false→true transition under forced-on gate
  src-tauri/src/commands/settings.rs
Due: backend

fix(core): force-write preference transition events instead of transiently widening the audit gate
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/audit/service.rs
Due: backend

feat(core,ui): audit log records preferences.security_changed for allowlisted keys (#221) (#233)
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/settings.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): audit log vault picker, filters, virtualization, degraded indicator (#223)
  src-tauri/src/commands/audit.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/lib.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

conflicts resolve
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
Due: backend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
