Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(core): delete an attachment (confirmed)
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): keep attachment list in sync when save fails after delete
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
Due: frontend

test(core): dedupe delete-attachment test setup via seed_attachment helper
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): delete an attachment (confirmed) (#293)
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): add entry attachments via file picker
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): enforce attachment cap during read, reject non-regular files
  src-tauri/src/services/kdbx/entries.rs
Due: backend

docs(core): clarify attachment guardrails are sliced across #283/#288
  docs/adr/0003-entry-attachments-export-model.md
Due: none

fix(core): harden attachment add (re-check opened handle, surface failure reason)
  docs/adr/0003-entry-attachments-export-model.md
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): add entry attachments via file picker (#283) (#294)
  docs/adr/0003-entry-attachments-export-model.md
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

docs: refresh kdbx-library-decision for keepass 0.13
  docs/architecture/kdbx-library-decision.md
Due: none

docs: refresh kdbx-library-decision for keepass 0.13 (#297)
  docs/architecture/kdbx-library-decision.md
Due: none

security(core): constrain attachment add to trusted OS-provided paths
  docs/adr/0003-entry-attachments-export-model.md
  docs/adr/0004-attachment-path-provenance.md
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

security(core): constrain attachment add to trusted OS-provided paths (#298)
  docs/adr/0003-entry-attachments-export-model.md
  docs/adr/0004-attachment-path-provenance.md
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): add entry attachments via drag-and-drop (desktop) (#286)
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/drag_drop.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/mod.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/hooks/use-attachment-drop.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/test/setup.ts
Due: frontend, backend

feat: add attachment preview modal and classification
  src/components/entries/AttachmentPreviewModal.test.tsx
  src/components/entries/AttachmentPreviewModal.tsx
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/attachment-preview.test.ts
  src/lib/attachment-preview.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

test(core): raise drag-drop coverage and dedupe attachment add tests
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/hooks/__tests__/use-attachment-drop.test.tsx
Due: frontend, backend

fix(tests): correct DOMRect mock closure in attachment drop tests
  src/components/entries/EntryItemDetails.test.tsx
  src/hooks/__tests__/use-attachment-drop.test.tsx
  src/test/setup.ts
Due: frontend

feat(core): add entry attachments via drag-and-drop (desktop) (#286) (#299)
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/drag_drop.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/mod.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/hooks/__tests__/use-attachment-drop.test.tsx
  src/hooks/use-attachment-drop.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/test/setup.ts
Due: frontend, backend

refactor: improve attachment preview logic and enhance readability
  src/components/entries/AttachmentPreviewModal.tsx
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/attachment-preview.ts
Due: frontend

feat(ui): in-app preview for image and text attachments (#287) (#300)
  src/components/entries/AttachmentPreviewModal.test.tsx
  src/components/entries/AttachmentPreviewModal.tsx
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/attachment-preview.test.ts
  src/lib/attachment-preview.ts
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(ui): has-attachments filter and paperclip list indicator (#285)
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/filter-dropdown.tsx
  src/components/layout/drag-region.tsx
  src/lib/attachment-utils.test.ts
  src/lib/attachment-utils.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/dashboard/index.$dbId.tsx
  src/views/MobileContentArea.tsx
Due: frontend

fix(ui): apply has-attachments filter during search; raise coverage (#285)
  src/components/entries/EntryList.tsx
  src/components/entries/filter-dropdown.test.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-search-entries.ts
  src/lib/entry-filters.test.ts
  src/lib/entry-filters.ts
  src/views/MobileContentArea.tsx
Due: frontend

fix(ui): include has-attachments filter in header entry count (#285)
  src/hooks/__tests__/use-entry-list-header.test.ts
  src/hooks/use-entry-list-header.ts
Due: frontend

feat(core): configurable attachment size thresholds + soft-warning (#288)
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/drag_drop.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/settings.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/AttachmentsSettingsSection.tsx
  src/components/settings/sections/__tests__/AttachmentsSettingsSection.test.tsx
  src/components/settings/sections/__tests__/AuditLogSettingsSection.test.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): improve no entries message handling in EntryList component
  src/components/entries/EntryList.tsx
Due: frontend

refactor(ui): resolve SonarQube code smells (#285)
  src/components/entries/EntryListItem.tsx
  src/components/entries/filter-dropdown.test.tsx
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/hooks/__tests__/use-entry-list-header.test.ts
  src/hooks/use-entry-list-header.ts
Due: frontend

fix(ui): accurate empty-state when tag and attachment filters stack (#285)
  src/components/entries/EntryList.tsx
  src/lib/entry-filters.test.ts
  src/lib/entry-filters.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

refactor(ui): fold has-attachments filter into the sort dropdown (#285)
  src/components/entries/filter-dropdown.tsx
  src/components/entries/sort-dropdown.test.tsx
  src/components/entries/sort-dropdown.tsx
  src/components/layout/drag-region.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/views/MobileContentArea.tsx
Due: frontend

fix(ui): indicate active attachment filter on the sort trigger (#285)
  src/components/entries/sort-dropdown.test.tsx
  src/components/entries/sort-dropdown.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(ui): has-attachments filter and paperclip list indicator (#285) (#301)
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/sort-dropdown.test.tsx
  src/components/entries/sort-dropdown.tsx
  src/components/layout/drag-region.tsx
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/hooks/__tests__/use-entry-list-header.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-entry-list-header.ts
  src/hooks/use-search-entries.ts
  src/lib/attachment-utils.test.ts
  src/lib/attachment-utils.ts
  src/lib/entry-filters.test.ts
  src/lib/entry-filters.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/dashboard/index.$dbId.tsx
  src/views/MobileContentArea.tsx
Due: frontend

fix(core): address Codex review on attachment thresholds (#288)
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
Due: frontend, backend

fix(core): tie attachment commit to a batch id + add upload indicator (#288)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/drag_drop.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): configurable attachment size thresholds + soft-warning (#288) (#303)
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/drag_drop.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/settings.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/AttachmentsSettingsSection.tsx
  src/components/settings/sections/__tests__/AttachmentsSettingsSection.test.tsx
  src/components/settings/sections/__tests__/AuditLogSettingsSection.test.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

docs: record cross-device sync domain language and ADRs 0005-0007
  CONTEXT.md
  docs/adr/0005-kdbx-file-is-the-sync-unit.md
  docs/adr/0006-sync-applies-automatically.md
  docs/adr/0007-tls-not-noise-for-lan-sync.md
Due: none

docs: address Codex review findings on sync ADRs
  CONTEXT.md
  docs/adr/0005-kdbx-file-is-the-sync-unit.md
  docs/adr/0006-sync-applies-automatically.md
  docs/adr/0007-tls-not-noise-for-lan-sync.md
Due: none

docs: cross-device sync domain language and ADRs 0005-0007 (#319)
  CONTEXT.md
  docs/adr/0005-kdbx-file-is-the-sync-unit.md
  docs/adr/0006-sync-applies-automatically.md
  docs/adr/0007-tls-not-noise-for-lan-sync.md
Due: none

feat(sync): merge engine + manual "Merge from file…" with summary toast
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/merge.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/merge.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src/components/layout/__tests__/database-switcher-merge.test.tsx
  src/components/layout/database-switcher.tsx
  src/hooks/use-merge-from-file.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

docs(core): entry history domain language + ADR-0008
  CONTEXT.md
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

docs(core): tighten entry-history rules per review
  CONTEXT.md
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

docs(core): correct keepass history type shape
  CONTEXT.md
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
