Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(clippy): address doc markdown lints
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/services/kdbx/mod.rs
Due: backend

fix(unlock): prevent redundant tabs and add redirect when tab is already open
  src/routes/(auth)/unlock.tsx
Due: frontend

refactor(ui): replace `Link` with `button` in `DatabaseTabBar` for navigation logic
  src-tauri/capabilities/default.json
  src/components/layout/database-tab-bar.tsx
  src/routes/__root.tsx
Due: frontend

feat: add create database wizard and keyfile support
  bun.lock
  package.json
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/keyfile.rs
  src-tauri/src/services/kdbx/mod.rs
  src/components/database/create-wizard/CreateDatabaseWizard.tsx
  src/components/database/create-wizard/PasswordStrengthIndicator.tsx
  src/components/database/create-wizard/steps/DatabaseInfoStep.tsx
  src/components/database/create-wizard/steps/KeyFileStep.tsx
  src/components/database/create-wizard/steps/LocationStep.tsx
  src/components/database/create-wizard/steps/MasterPasswordStep.tsx
  src/components/database/create-wizard/steps/ReviewStep.tsx
  src/components/security/unlock-database-form/open-or-create-database.tsx
  src/lib/formTypes.ts
  src/lib/tauri.ts
  src/routes/(auth)/new.tsx
  src/views/CreateDatabaseView.tsx
Due: frontend, backend

fix(core): avoid expect in keyfile tests
  src-tauri/src/services/kdbx/keyfile.rs
Due: backend

fix(core): satisfy clippy io_other_error
  src-tauri/src/services/kdbx/keyfile.rs
Due: backend

feat(core): enhance keyfile creation with secure permissions and error handling
  src-tauri/src/services/kdbx/keyfile.rs
Due: backend

fix(core): address clippy warnings in keyfile writer
  src-tauri/src/services/kdbx/keyfile.rs
Due: backend

chore(ui): polish create wizard copy
  src/components/database/create-wizard/PasswordStrengthIndicator.tsx
  src/components/database/create-wizard/steps/ReviewStep.tsx
Due: frontend

feat(ui): wrap `CreateDatabaseWizard` in `ScrollArea` for improved layout handling
  src/views/CreateDatabaseView.tsx
Due: frontend

refactor(utils): deduplicate `getFilenameFromPath` across components
  src/components/database/create-wizard/steps/KeyFileStep.tsx
  src/components/database/create-wizard/steps/LocationStep.tsx
  src/components/database/create-wizard/steps/ReviewStep.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/lib/utils.ts
  src/views/UnlockView.tsx
Due: frontend

feat(ui): add create database wizard and keyfile support (#123)
  bun.lock
  package.json
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/keyfile.rs
  src-tauri/src/services/kdbx/mod.rs
  src/components/database/create-wizard/CreateDatabaseWizard.tsx
  src/components/database/create-wizard/PasswordStrengthIndicator.tsx
  src/components/database/create-wizard/steps/DatabaseInfoStep.tsx
  src/components/database/create-wizard/steps/KeyFileStep.tsx
  src/components/database/create-wizard/steps/LocationStep.tsx
  src/components/database/create-wizard/steps/MasterPasswordStep.tsx
  src/components/database/create-wizard/steps/ReviewStep.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/components/security/unlock-database-form/open-or-create-database.tsx
  src/lib/formTypes.ts
  src/lib/tauri.ts
  src/lib/utils.ts
  src/routes/(auth)/new.tsx
  src/views/CreateDatabaseView.tsx
  src/views/UnlockView.tsx
Due: frontend, backend

feat(core): add support for retrieving custom icons, group entry counts, and recycle bin ID
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/dto/group.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mapping.rs
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(ui): add reusable Dialog component and group management hooks
  src/components/groups/GroupTree.tsx
  src/components/groups/GroupTreeSkeleton.tsx
  src/components/layout/nav-main.tsx
  src/components/nav-secondary.tsx
  src/components/ui/dialog.tsx
  src/hooks/use-group-entry-counts.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-groups.ts
  src/hooks/use-recycle-bin-id.ts
Due: frontend

feat(ui): integrate dynamic entry loading, group navigation, and custom icons
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/layout/app-sidebar.tsx
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/routes/dashboard/index.$dbId.tsx
  src/stores/database-tabs.ts
Due: frontend

feat(ui): add `GroupTreeItem` and related components for group management
  src/components/groups/GroupTreeItem.tsx
  src/components/groups/GroupTreeItemActions.tsx
  src/hooks/use-custom-icons.ts
  src/hooks/use-entries.ts
  src/hooks/use-tags.ts
  src/lib/keepass-icons.ts
  src/lib/types.ts
Due: frontend

deps(core): Update bytes crate to 1.11.1
  src-tauri/Cargo.lock
Due: none

fix(ui): improve entry list layout for responsive panels
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/layout/drag-region.tsx
  src/views/MobileContentArea.tsx
Due: frontend

fix(ui): use wrap-break-words for username in entry list
  src/components/entries/EntryListItem.tsx
Due: frontend

test(core): Expand group and database command coverage
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/groups_test.rs
Due: none

deps(core): Update time and num-conv crates in Cargo.lock
  src-tauri/Cargo.lock
Due: none

fix(ui): handle recursive group delete and entry cache invalidation
  src/hooks/use-group-mutations.ts
  src/lib/tauri.ts
Due: frontend

feat(core): implement sidebar with group tree navigation (#124)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/dto/group.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/groups_test.rs
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/groups/GroupTree.tsx
  src/components/groups/GroupTreeItem.tsx
  src/components/groups/GroupTreeItemActions.tsx
  src/components/groups/GroupTreeSkeleton.tsx
  src/components/layout/app-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/layout/nav-main.tsx
  src/components/nav-secondary.tsx
  src/components/ui/dialog.tsx
  src/hooks/use-custom-icons.ts
  src/hooks/use-entries.ts
  src/hooks/use-group-entry-counts.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-groups.ts
  src/hooks/use-recycle-bin-id.ts
  src/hooks/use-tags.ts
  src/lib/keepass-icons.ts
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/routes/dashboard/index.$dbId.tsx
  src/stores/database-tabs.ts
  src/views/MobileContentArea.tsx
Due: frontend, backend

feat(ui): add sort dropdown and keyboard navigation for entry list
  bun.lock
  package.json
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/sort-dropdown.tsx
  src/components/layout/drag-region.tsx
  src/hooks/use-entry-list-header.ts
  src/hooks/use-entry-list-keyboard.ts
  src/hooks/use-sorted-entries.test.ts
  src/hooks/use-sorted-entries.ts
  src/lib/types.ts
  src/routes/dashboard/index.$dbId.tsx
  src/views/MobileContentArea.tsx
Due: frontend

refactor(hooks): improve type safety and null checks in entry list and sorting logic
  src/hooks/use-entry-list-keyboard.ts
  src/hooks/use-sorted-entries.test.ts
Due: frontend

fix(ui): handle null entry in virtualized list rendering
  src/components/entries/EntryList.tsx
Due: frontend

refactor(ui): optimize `MobileContentArea` and `EntryList` layout with `ScrollArea`
  src/components/entries/EntryList.tsx
  src/views/MobileContentArea.tsx
Due: frontend

refactor(ui): simplify scroll handling in `EntryList` and `ScrollArea`
  src/components/entries/EntryList.tsx
  src/components/ui/scroll-area.tsx
Due: frontend

fix(ui): adjust virtualized list item measurement in `EntryList`
  src/components/entries/EntryList.tsx
Due: frontend

fix(hooks): prevent activation of invalid entry in `useEntryListKeyboard`
  src/hooks/use-entry-list-keyboard.ts
Due: frontend

fix(hooks): prevent activation of invalid entry in `useEntryListKeyboard`
  src/components/entries/EntryList.tsx
Due: frontend

fix(ui): improve truncation and layout handling in `EntryListItem`
  src/components/entries/EntryListItem.tsx
Due: frontend

feat(ui): implement entry list view with sorting and virtualization (#125)
  bun.lock
  package.json
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/sort-dropdown.tsx
  src/components/layout/drag-region.tsx
  src/components/ui/scroll-area.tsx
  src/hooks/use-entry-list-header.ts
  src/hooks/use-entry-list-keyboard.ts
  src/hooks/use-sorted-entries.test.ts
  src/hooks/use-sorted-entries.ts
  src/lib/types.ts
  src/routes/dashboard/index.$dbId.tsx
  src/views/MobileContentArea.tsx
Due: frontend

feat(core): add clipboard service and commands for secure password handling
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/clipboard.rs
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryItemDetailsEmpty.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/use-copy-to-clipboard.ts
  src/hooks/use-entry-detail.ts
  src/lib/tauri.ts
  src/routes/dashboard/entry/$id.tsx
Due: frontend, backend

feat(hooks): add `staleTime` and `placeholderData` with `keepPreviousData` in `useEntryDetail`
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/use-entry-detail.ts
Due: frontend

fix(ui): always mount AvatarImage so Radix fallback icon renders
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.tsx
Due: frontend

fix(entry-details): address PR review security issues
  src/components/entries/EntryItemDetails.tsx
  src/hooks/use-entry-detail.ts
Due: frontend

fix(ui): prevent stale entry detail actions during transition
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/use-entry-detail.ts
Due: frontend

test(core): improve clipboard and entry detail coverage
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/hooks/__tests__/use-copy-to-clipboard.test.ts
  src/hooks/__tests__/use-entry-detail.test.ts
Due: frontend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
