Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

feat: set up React project structure with TypeScript strict mode (#95)
  CONTRIBUTING.md
  bun.lock
  docs/signed-commits.md
  package.json
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/components/database/index.ts
  src/components/entries/index.ts
  src/components/groups/index.ts
  src/components/index.ts
  src/components/layout/index.ts
  src/components/security/index.ts
  src/components/ui/index.ts
  src/hooks/index.ts
  src/lib/constants.ts
  src/lib/index.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/lib/utils.ts
  src/stores/index.ts
  src/views/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: frontend

feat(backend): set up Rust workspace structure with proper modules
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/generator.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/database.rs
  src-tauri/src/models/entry.rs
  src-tauri/src/models/error.rs
  src-tauri/src/models/group.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/src/services/crypto.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/src/services/keychain.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/utils/mod.rs
Due: backend

style(core): apply rustfmt formatting
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/generator.rs
Due: backend

refactor(core): use DTO structs and proper return types for commands
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/groups.rs
Due: backend

feat(core): set up Rust workspace structure with proper modules (#97)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/generator.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/database.rs
  src-tauri/src/models/entry.rs
  src-tauri/src/models/error.rs
  src-tauri/src/models/group.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/src/services/crypto.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/src/services/keychain.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/utils/mod.rs
Due: backend

feat(core): add keepass-rs dependency and implement KDBX support
  CLAUDE.md
  docs/architecture/kdbx-library-decision.md
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat(tests): improve KDBX integration tests and add local settings configuration
  src-tauri/tests/kdbx_integration.rs
Due: none

chore: sync license config and add .claude to gitignore
  .github/dependency-review.yml
  .gitignore
Due: none

feat: add MIT/Apache-2.0 to allowed licenses in dependency review and deny configuration
  .github/dependency-review.yml
  deny.toml
Due: none

fix(core): handle entries without password field correctly
  src-tauri/src/services/kdbx.rs
Due: backend

style: fix clippy warnings in integration tests
  src-tauri/tests/kdbx_integration.rs
Due: none

chore: remove MIT/Apache-2.0 from allowed licenses in dependency review
  .github/dependency-review.yml
Due: none

feat: add MIT/Apache-2.0 to allowed licenses in dependency review
  .github/dependency-review.yml
Due: none

test: commit KDBX test fixtures for CI coverage
  src-tauri/.gitignore
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/fixtures/test-kdbx3.kdbx
  src-tauri/tests/fixtures/test-kdbx4.kdbx
  src-tauri/tests/fixtures/test-keyfile-kdbx4.kdbx
  src-tauri/tests/fixtures/test-keyfile.keyx
Due: none

ci: speed up coverage workflow with release mode and caching
  .github/workflows/coverage.yml
Due: none

chore: update deny.toml to remove MIT/Apache-2.0 and refine skip list for duplicate crates
  deny.toml
Due: none

chore: refine Codecov upload steps in coverage workflow
  .github/workflows/coverage.yml
Due: none

fix: update GPL exception to allow GPL-3.0-or-later in deny.toml
  deny.toml
Due: none

chore: add LGPL licenses to allowed licenses in dependency review
  .github/dependency-review.yml
Due: none

chore: add rust-argon2 to allowed dependencies in dependency review
  .github/dependency-review.yml
Due: none

refactor: update KdbxService to use keepass-rs types and improve error handling
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat: add Keepass-RS dependency and implement KDBX database creation and saving functionality
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

chore: update pre-commit hook and enhance lint-staged configuration
  .husky/pre-commit
  package.json
  src-tauri/src/services/kdbx.rs
Due: backend

docs: fix formatting in integration test module documentation
  src-tauri/tests/kdbx_integration.rs
Due: none

chore: enhance pre-commit and pre-push hooks, add Rust checks to package.json
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

docs: enhance README with warnings about test fixture usage and sensitive data
  src-tauri/tests/fixtures/README.md
Due: none

docs: update Cargo configuration comments for clarity on CPU optimization
  src-tauri/.cargo/config.toml
Due: none

docs: update KDBX library decision and known limitations for clarity
  docs/architecture/kdbx-library-decision.md
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

ci: standardize RUSTFLAGS for CI compatibility across workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release-build.yml
Due: none

feat: add support for keyfile authentication in KdbxService and corresponding integration test
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat(core): add keepass-rs dependency and implement KDBX support (#98)
  .github/dependency-review.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release-build.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  deny.toml
  docs/architecture/kdbx-library-decision.md
  package.json
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/fixtures/test-kdbx3.kdbx
  src-tauri/tests/fixtures/test-kdbx4.kdbx
  src-tauri/tests/fixtures/test-keyfile-kdbx4.kdbx
  src-tauri/tests/fixtures/test-keyfile.keyx
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat(core): implement secure storage with tauri-plugin-stronghold
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/keychain.rs
Due: backend

refactor: reorganize command imports for better readability
  src-tauri/src/lib.rs
Due: backend

feat(core): update secure storage commands and improve session key handling
  src-tauri/src/commands/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/keychain.rs
Due: backend

feat(security): enhance session key handling with Zeroizing and add TTL expiration test
  src-tauri/src/services/keychain.rs
Due: backend

feat(storage): refactor secure storage service and remove keychain module
  src-tauri/src/commands/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/secure_storage.rs
Due: backend
