Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(core): enforce independent minimum numbers and symbols in password generation
  src-tauri/src/commands/generator.rs
Due: backend

test(password-generator): add beforeEach for test setup
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
Due: frontend

feat(core): implement cryptographically secure password generator (#144)
  CLAUDE.md
  src-tauri/assets/eff-diceware-wordlist.txt
  src-tauri/src/commands/generator.rs
  src-tauri/src/lib.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/PasswordGeneratorDialog.tsx
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/entries/__tests__/PasswordGeneratorPopover.test.tsx
  src/components/entries/entry-edit-form/EntryPasswordField.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/security/unlock-database-form/DropdownMenuMoreOptions.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/PasswordGeneratorSettingsSection.tsx
  src/hooks/__tests__/use-password-generator.test.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-password-generator.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routeTree.gen.ts
  src/routes/password-generator.tsx
  vitest.config.ts
Due: frontend, backend

feat(ui): add password strength indicator with entropy-based scoring (#37)
  CLAUDE.md
  src/components/database/create-wizard/PasswordStrengthIndicator.tsx
  src/components/database/create-wizard/steps/MasterPasswordStep.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/entries/entry-edit-form/EntryPasswordField.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/ui/__tests__/password-strength-indicator.test.tsx
  src/components/ui/password-strength-indicator.tsx
  src/index.css
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(ui): make password generator display editable for manual input
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
Due: frontend

fix(ui): show entropy bits for manually typed passwords in generator
  src/components/generator/PasswordGenerator.tsx
  src/components/ui/password-strength-indicator.tsx
Due: frontend

fix(types): explicitly define `entropyBits` as `number | undefined` in props interface
  src/components/ui/password-strength-indicator.tsx
Due: frontend

fix(password-strength): avoid overrating typed passwords
  src/components/ui/__tests__/password-strength-indicator.test.tsx
  src/components/ui/password-strength-indicator.tsx
Due: frontend

fix(generator): disable input assist on generated secrets
  src/components/generator/PasswordGenerator.tsx
Due: frontend

test(ui): add meaningful generator and strength coverage
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/ui/__tests__/password-strength-indicator.test.tsx
Due: frontend

feat(ui): add password strength indicator/meter (#145)
  CLAUDE.md
  src/components/database/create-wizard/PasswordStrengthIndicator.tsx
  src/components/database/create-wizard/steps/MasterPasswordStep.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/entries/entry-edit-form/EntryPasswordField.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/ui/__tests__/password-strength-indicator.test.tsx
  src/components/ui/password-strength-indicator.tsx
  src/index.css
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(security): implement clipboard auto-clear workflow
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-clipboard-countdown.test.ts
  src/hooks/use-clipboard-countdown.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): satisfy clippy duration unit lint in secure storage tests
  src-tauri/src/services/secure_storage.rs
Due: backend

fix(ui): resolve clipboard lock and countdown review issues
  src/components/entries/EntryItemDetails.tsx
  src/components/layout/database-switcher.tsx
  src/hooks/__tests__/use-clipboard-countdown.test.ts
  src/hooks/use-clipboard-countdown.ts
Due: frontend

fix(core): address meaningful PR review comments
  src-tauri/src/services/clipboard.rs
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/layout/database-tab-bar.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-clipboard-countdown.test.ts
  src/hooks/use-clipboard-countdown.ts
  src/views/MobileContentArea.tsx
Due: frontend, backend

fix(core): resolve clippy and toast-dismiss test issues
  src-tauri/src/services/clipboard.rs
  src/hooks/use-clipboard-countdown.ts
Due: frontend, backend

chore(core): format clipboard service
  src-tauri/src/services/clipboard.rs
Due: backend

feat(core): implement clipboard operations with auto-clear (#146)
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/src/services/secure_storage.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/database-tab-bar.tsx
  src/components/layout/drag-region.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-clipboard-countdown.test.ts
  src/hooks/use-clipboard-countdown.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/views/MobileContentArea.tsx
Due: frontend, backend

feat(core): implement auto-lock after inactivity timeout
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-auto-lock.test.ts
  src/hooks/use-active-database.ts
  src/hooks/use-auto-lock.ts
  src/lib/tauri.ts
  src/locales/en/common.json
  src/routes/(auth)/unlock.tsx
  src/routes/__root.tsx
  src/routes/dashboard/index.$dbId.tsx
  src/stores/__tests__/database-tabs.test.ts
  src/stores/database-tabs.ts
  src/views/MobileContentArea.tsx
  src/views/UnlockView.tsx
Due: frontend, backend

fix(test): remove always-true comparison in lock integration test
  src-tauri/tests/kdbx_open.rs
Due: none

chore: checkpoint current branch changes
  research.md
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/save.rs
Due: backend

fix: address auto-lock and unlock review feedback
  src-tauri/src/commands/database.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/__tests__/use-auto-lock.test.ts
  src/hooks/use-auto-lock.ts
  src/lib/tauri.ts
Due: frontend, backend

test: normalize imports in kdbx_open
  src-tauri/tests/kdbx_open.rs
Due: none

fix: satisfy clippy map_unwrap_or lint
  src-tauri/src/services/auto_lock.rs
Due: backend

fix: keep locked tabs locked during unlock and allow auto-lock timeout 0
  src/lib/types.ts
  src/routes/(auth)/unlock.tsx
Due: frontend

fix(auto-lock): use tauri async runtime spawn for background tasks
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/clipboard.rs
Due: backend

feat(security): add screen-capture prevention setting (#42)
  AGENTS.md
  CLAUDE.md
  research.md
  src-tauri/capabilities/default.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/window_protection.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/commands/window_test.rs
  src-tauri/tests/services.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/window_protection_test.rs
  src/components/layout/__tests__/secure-mode-indicator.test.tsx
  src/components/layout/secure-mode-indicator.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-window-protection.test.tsx
  src/hooks/use-app-preferences.ts
  src/hooks/use-window-protection.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/__root.tsx
Due: frontend, backend

fix(settings): keep pref updates successful when window protection apply fails
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/use-app-preferences.ts
Due: frontend

Refactor window protection to use map_or for default value
  src-tauri/src/lib.rs
Due: backend

Add tests for windowProtection Tauri command wrappers
  src/lib/tauri.test.ts
Due: frontend

feat(core): add screen-capture prevention setting (#148)
  AGENTS.md
  CLAUDE.md
  research.md
  src-tauri/capabilities/default.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/window_protection.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/commands/window_test.rs
  src-tauri/tests/services.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/window_protection_test.rs
  src/components/layout/__tests__/secure-mode-indicator.test.tsx
  src/components/layout/secure-mode-indicator.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-window-protection.test.tsx
  src/hooks/use-app-preferences.ts
  src/hooks/use-window-protection.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/__root.tsx
Due: frontend, backend

feat(entries): add favicon fetch pipeline and custom icon controls
  AGENTS.md
  CLAUDE.md
  research.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/database.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/favicons.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/entries/EntryEditForm.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/entry-edit-form/EntryTitleField.tsx
  src/components/groups/GroupTreeItem.tsx
  src/components/search/SearchResultItem.tsx
  src/components/search/SearchResultsList.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/use-entry-edit-form.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): allow expect in favicon unit tests
  src-tauri/src/services/kdbx/favicons.rs
Due: backend

fix(core): Fix Auto-Lock Timeout Input
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
Due: frontend

feat(core): implement auto-lock after inactivity timeout (#147)
  research.md
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/auto_lock.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/hooks/__tests__/use-auto-lock.test.ts
  src/hooks/use-active-database.ts
  src/hooks/use-auto-lock.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
  src/routes/(auth)/unlock.tsx
  src/routes/__root.tsx
  src/routes/dashboard/index.$dbId.tsx
  src/stores/__tests__/database-tabs.test.ts
  src/stores/database-tabs.ts
  src/views/MobileContentArea.tsx
  src/views/UnlockView.tsx
Due: frontend, backend

ci: add dependabot version updates
  .github/dependabot.yml
  package-lock.json
Due: none

ci: allow dependabot dev dependency PR titles
  .github/workflows/pr-validation.yml
  commitlint.config.js
Due: none

ci: add Dependabot version updates (#155)
  .github/dependabot.yml
  .github/workflows/pr-validation.yml
  commitlint.config.js
  package-lock.json
Due: none

fix(ui): adopt eslint-plugin-react-hooks v7.1 rules
  bun.lock
  package.json
  src/components/generator/PasswordGenerator.tsx
  src/components/layout/nav-actions.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/use-entry-detail.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-mobile.tsx
  src/hooks/use-password-generator.ts
Due: frontend

fix(ui): adopt eslint-plugin-react-hooks v7.1 rules (#173)
  bun.lock
  package.json
  src/components/generator/PasswordGenerator.tsx
  src/components/layout/nav-actions.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/use-entry-detail.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-mobile.tsx
  src/hooks/use-password-generator.ts
Due: frontend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
