Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs(core): entry history domain language + ADR-0008 (#330)
  CONTEXT.md
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

feat(core): entry history snapshot on field edit + list + view (#322)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): gate history snapshot on real content change; address review
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.tsx
Due: frontend, backend

feat(core): entry history snapshot on field edit + list + view (#322) (#331)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): extend entry history snapshots to all qualifying mutators (#323)
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/recycle.rs
Due: backend

refactor(core): dedup tag-snapshot closures and icon-uuid test helper
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): extend entry history snapshots to all qualifying mutators (#323) (#333)
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/recycle.rs
Due: backend

chore(deps): bump keepass 0.13.8 -> 0.13.10
  src-tauri/Cargo.lock
Due: none

feat(core): snapshot on attachment delete + retain history-referenced binaries (#332)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): stop snapshotting attachment add/delete into entry history (#335)
  src-tauri/src/services/kdbx/entries.rs
Due: backend

docs(core): ADR-0008 — attachment snapshotting deferred (#335)
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

docs(core): ADR-0008 — record residual attachment dangling-ref hazard (#335)
  docs/adr/0008-entry-history-uses-native-kdbx.md
Due: none

chore(deps): pin keepass to forked v0.13.11 for attachment-history retention
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(core): snapshot on attachment delete + retain history-referenced blobs (#332)
  docs/adr/0008-entry-history-uses-native-kdbx.md
  src-tauri/src/services/kdbx/entries.rs
Due: backend

build(deps): allow-list keepass fork git source in cargo-deny
  deny.toml
Due: none

feat(core): snapshot on attachment delete + binary-pool blob retention (#332) (#340)
  deny.toml
  docs/adr/0008-entry-history-uses-native-kdbx.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): entry history — extend snapshot coverage + attachment retention (PRD #321) (#337)
  deny.toml
  docs/adr/0008-entry-history-uses-native-kdbx.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/recycle.rs
Due: backend

feat(core): entry history changed_fields + Created/Earliest-kept labels (#324)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

style(core): cargo fmt line reflow in entry history
  src-tauri/src/services/kdbx/entries.rs
Due: backend

fix(core): cover protection toggles and group moves in changed_fields
  src-tauri/src/services/kdbx/entries.rs
Due: backend

fix(ui): localize changed-field tokens in entry history
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): show the changed line on the earliest-kept history row
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
Due: frontend

feat(core): entry history changed_fields + Created/Earliest-kept labels (#324) (#341)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): view a historical version's secrets on demand + version guard (#325)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

fix(core): address review — key the history fingerprint, harden reveal UI + test
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
Due: frontend, backend

test(core): cover history-reveal command handlers and tauri wrappers
  src-tauri/tests/command_handlers_test.rs
  src/lib/tauri.test.ts
Due: frontend

fix(core): satisfy noUncheckedIndexedAccess in tauri history wrapper test
  src/lib/tauri.test.ts
Due: frontend

refactor(ui): flatten history reveal nesting to satisfy S2004
  src/components/entries/EntryHistorySection.tsx
Due: frontend

security(core): fail closed when history fingerprint key generation fails
  src-tauri/src/services/kdbx/mod.rs
Due: backend

feat(core): view a historical version's secrets on demand + version guard (#325) (#342)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(core): restore an Entry to a past version (+ entry.history_restored audit) (#328)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): address Codex review on restore (#328)
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): reject no-op restores of location-only versions (#328)
  src-tauri/src/dto/error.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): include attachment protection flag in history fingerprint (#328)
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(core): restore an Entry to a past version (+ entry.history_restored audit) (#328) (#343)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryHistorySection.tsx
  src/components/entries/__tests__/EntryHistorySection.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

chore: upgrade agent skills bundle
  .agents/skills/ask-matt/SKILL.md
  .agents/skills/codebase-design/DEEPENING.md
  .agents/skills/codebase-design/DESIGN-IT-TWICE.md
  .agents/skills/codebase-design/SKILL.md
  .agents/skills/diagnosing-bugs/SKILL.md
  .agents/skills/diagnosing-bugs/scripts/hitl-loop.template.sh
  .agents/skills/domain-modeling/ADR-FORMAT.md
  .agents/skills/domain-modeling/CONTEXT-FORMAT.md
  .agents/skills/domain-modeling/SKILL.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/grilling/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/LANGUAGE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/setup-matt-pocock-skills/SKILL.md
  .agents/skills/setup-matt-pocock-skills/domain.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/triage/AGENT-BRIEF.md
  .agents/skills/triage/OUT-OF-SCOPE.md
  .agents/skills/triage/SKILL.md
  .agents/skills/writing-great-skills/GLOSSARY.md
  .agents/skills/writing-great-skills/SKILL.md
  skills-lock.json
Due: none

chore: upgrade agent skills bundle (#344)
  .agents/skills/ask-matt/SKILL.md
  .agents/skills/codebase-design/DEEPENING.md
  .agents/skills/codebase-design/DESIGN-IT-TWICE.md
  .agents/skills/codebase-design/SKILL.md
  .agents/skills/diagnosing-bugs/SKILL.md
  .agents/skills/diagnosing-bugs/scripts/hitl-loop.template.sh
  .agents/skills/domain-modeling/ADR-FORMAT.md
  .agents/skills/domain-modeling/CONTEXT-FORMAT.md
  .agents/skills/domain-modeling/SKILL.md
  .agents/skills/grill-me/SKILL.md
  .agents/skills/grill-with-docs/SKILL.md
  .agents/skills/grilling/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/LANGUAGE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/setup-matt-pocock-skills/SKILL.md
  .agents/skills/setup-matt-pocock-skills/domain.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/deep-modules.md
  .agents/skills/tdd/interface-design.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-issues/SKILL.md
  .agents/skills/to-prd/SKILL.md
  .agents/skills/triage/AGENT-BRIEF.md
  .agents/skills/triage/OUT-OF-SCOPE.md
  .agents/skills/triage/SKILL.md
  .agents/skills/writing-great-skills/GLOSSARY.md
  .agents/skills/writing-great-skills/SKILL.md
  skills-lock.json
Due: none

feat(core): writable History Limit (vault meta) + items-only pruning + disable (#326)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/database.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/history.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/vault.rs
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/VaultHistorySettingsControl.tsx
  src/components/settings/sections/__tests__/VaultHistorySettingsControl.test.tsx
  src/hooks/use-vault-history-settings.ts
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): gate the history control on loaded vault metadata (#326)
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/__tests__/DatabaseSettingsSection.test.tsx
Due: frontend

test(core): disabled-history regression across trash/restore (#326)
  CONTEXT.md
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/history.rs
Due: backend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
