Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

feat(ui): add reusable resizable panel components and refactor layout
  bun.lock
  package.json
  src/components/layout/drag-region.tsx
  src/components/ui/resizable.tsx
Due: frontend

feat(ui): add ButtonGroup component suite and enhance Button/Card styles
  src/components/ui/button-group.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
Due: frontend

feat(ui): add ButtonGroup component suite and enhance Button/Card styles
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/entryItemDetails/EntryItemPasswordStatusCard.tsx
  src/components/layout/drag-region.tsx
Due: frontend

refactor(ui): restructure sidebar components and remove unused code
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.tsx
  src/components/layout/app-sidebar.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/layout/nav-actions.tsx
  src/components/layout/nav-main.tsx
  src/components/layout/nav-tags.tsx
  src/components/nav-entry-groups.tsx
  src/components/nav-main.tsx
  src/components/team-switcher.tsx
  src/mock/tags-mock-data.json
  src/routes/__root.tsx
  src/routes/index.tsx
Due: frontend

fix(ui): ensure default values for `isActive` and enhance type safety
  package.json
  src/components/layout/app-settings-sidebar.tsx
  src/components/theme-provider.tsx
Due: frontend

feat(routes): restructure and expand routes, add new dashboard functionality
  src-tauri/tauri.conf.json
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/actions-mobile-entries.tsx
  src/components/entries/nav-entries.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/layout/layout-db-sidebar.tsx
  src/components/security/unlock-database-form/InputGroupPassword.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/login-form.tsx
  src/components/security/unlock-database-form/open-or-create-database.tsx
  src/hooks/use-mobile.ts
  src/routeTree.gen.ts
  src/routes/(auth)/index.tsx
  src/routes/(auth)/login.tsx
  src/routes/(auth)/route.tsx
  src/routes/dashboard/entry/$id.tsx
  src/routes/dashboard/entry/edit.tsx
  src/routes/dashboard/entry/new.tsx
  src/routes/dashboard/index.tsx
  src/routes/dashboard/route.tsx
  src/routes/index.tsx
  src/views/MobileContentArea.tsx
Due: frontend

feat(routes): update `(auth)` routes and add `/import-file` functionality
  src/routeTree.gen.ts
  src/routes/(auth)/import-file.tsx
  src/routes/(auth)/new.tsx
  src/routes/(auth)/open.tsx
Due: frontend

feat(ui): enhance responsive layout and refactor database unlock form
  .github/workflows/claude-code-review.yml
  AGENTS.md
  CLAUDE.md
  bun.lock
  package.json
  src/components/security/unlock-database-form/InputGroupPassword.tsx
  src/lib/formTypes.ts
Due: frontend

chore(config): add aliases and normalize quotes in vitest config
  vitest.config.ts
Due: none

chore(config): add aliases and normalize quotes in vitest config
  src/components/layout/database-switcher.tsx
  src/routeTree.gen.ts
  src/routes/(auth)/open.tsx
Due: frontend

feat(ui): improve EntryItemDetails layout and responsiveness
  src/components/entries/EntryItemDetails.tsx
Due: frontend

feat(ui): design and implement main application layout (#119)
  .github/workflows/claude-code-review.yml
  AGENTS.md
  CLAUDE.md
  bun.lock
  package.json
  src-tauri/tauri.conf.json
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/actions-mobile-entries.tsx
  src/components/entries/nav-entries.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/drag-region.tsx
  src/components/layout/layout-db-sidebar.tsx
  src/components/security/unlock-database-form/InputGroupPassword.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/login-form.tsx
  src/components/security/unlock-database-form/open-or-create-database.tsx
  src/hooks/use-mobile.ts
  src/lib/formTypes.ts
  src/routeTree.gen.ts
  src/routes/(auth)/import-file.tsx
  src/routes/(auth)/index.tsx
  src/routes/(auth)/login.tsx
  src/routes/(auth)/new.tsx
  src/routes/(auth)/route.tsx
  src/routes/dashboard/entry/$id.tsx
  src/routes/dashboard/entry/edit.tsx
  src/routes/dashboard/entry/new.tsx
  src/routes/dashboard/index.tsx
  src/routes/dashboard/route.tsx
  src/routes/index.tsx
  src/routes/open-db.tsx
  src/views/MobileContentArea.tsx
  vitest.config.ts
Due: frontend

feat(routes): replace `login` route with `unlock` and update related components
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src/components/layout/database-switcher.tsx
  src/components/security/unlock-database-form/login-form.tsx
  src/routeTree.gen.ts
Due: frontend

feat(core): replace `InputGroupPassword` with `UnlockView` and enhance settings management
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/settings.rs
  src/components/security/unlock-database-form/DropdownMenuOpenDatabase.tsx
  src/components/security/unlock-database-form/InputGroupPassword.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/routes/(auth)/login.tsx
  src/routes/(auth)/unlock.tsx
  src/views/UnlockView.tsx
Due: frontend, backend

feat(unlock): implement `UnlockDbForm` and enhance recent databases flow
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
Due: frontend

refactor(ui): replace `watch` with `useWatch` for improved form control tracking in `UnlockDbForm`
  src/components/security/unlock-database-form/UnlockDbForm.tsx
Due: frontend

test(core): add unit tests for settings management and service integration
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/services/secure_storage.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/app_setup_test.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
Due: backend

feat(core): implement `DatabaseSwitcher` with dynamic state and hooks
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/components/layout/app-sidebar.tsx
  src/components/layout/database-switcher.tsx
  src/hooks/use-database-info.ts
  src/hooks/use-recent-databases.ts
  src/lib/tauri.ts
Due: frontend, backend

refactor(core): adjust `database` module exports for improved readability
  src-tauri/src/commands/mod.rs
Due: backend

test(core): add unit tests for command handlers, DTO errors, and lock DTOs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/dto_error_test.rs
  src-tauri/tests/dto_lock_test.rs
  src-tauri/tests/services/settings_service_test.rs
Due: none

refactor(tests): simplify IO error creation in `dto_error_test.rs`
  src-tauri/tests/dto_error_test.rs
Due: none

test(settings): add unit tests for `SettingsService` persistence and behavior
  src-tauri/tests/services/settings_service_unitlike_test.rs
Due: none

feat(unlock): add toast notifications for recent database update errors
  bun.lock
  package.json
  src/App.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
Due: frontend

test(settings): handle invalid settings gracefully and add backup mechanism
  src-tauri/src/services/settings.rs
  src-tauri/tests/services/settings_service_test.rs
Due: backend

feat(ui): add `Toaster` component with theme support and custom icons
  src/components/ui/sonner.tsx
Due: frontend

fix(form): reset keyfile path and remember toggle when no saved keyfile
  src/components/security/unlock-database-form/UnlockDbForm.tsx
Due: frontend

refactor(settings): simplify error handling and backup creation in `load_or_default`
  src-tauri/src/services/settings.rs
Due: backend

feat(core): introduce `react-query` for API integration and enhance toast themes
  EXECUTION_PLAN_ISSUE_13.md
  bun.lock
  eslint.config.js
  package.json
  src/App.tsx
  src/components/ui/sonner.tsx
Due: frontend

test(settings): add synchronization mechanism to prevent test interference
  src-tauri/tests/commands.rs
  src-tauri/tests/services.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
Due: none

refactor(hooks): replace custom state management with `react-query`
  src/hooks/use-database-info.ts
  src/hooks/use-recent-databases.ts
  src/lib/query-keys.ts
Due: frontend

test(settings): improve lock handling and streamline test setup
  src-tauri/tests/services.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
Due: none

feat(core): refactor database operations to support multi-database handling
  bun.lock
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/kdbx_create.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_header.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/kdbx_save.rs
  src/App.tsx
Due: frontend, backend

refactor(core): enhance KDBX service to support multi-database workflows
  src-tauri/src/commands/mod.rs
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/kdbx_create.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_header.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/kdbx_save.rs
  src-tauri/tests/secure_memory.rs
Due: backend

feat(ui): implement dynamic database tab management and navigation
  package.json
  src/components/layout/database-switcher.tsx
  src/components/layout/database-tab-bar.tsx
  src/components/security/unlock-database-form/DropdownMenuOpenDatabase.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/use-active-database.ts
  src/hooks/use-database-info.ts
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/main.tsx
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/dashboard/index.$dbId.tsx
  src/stores/database-tabs.ts
Due: frontend

feat(unlock): add support for initializing keyfile selection and remember state
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/routes/(auth)/unlock.tsx
  src/views/UnlockView.tsx
Due: frontend

refactor(tabs): remove database tab management logic for simplified navigation flow
  src/components/layout/database-switcher.tsx
  src/components/security/unlock-database-form/DropdownMenuOpenDatabase.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
Due: frontend

feat(auth): preload recent databases in unlock route loader
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
  src/components/security/unlock-database-form/open-or-create-database.tsx
  src/hooks/use-recent-databases.ts
  src/routes/(auth)/index.tsx
Due: frontend

refactor(ui): enhance layout flexibility with improved `min-h-0` and overflow handling
  src/components/layout/database-tab-bar.tsx
  src/components/layout/drag-region.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/sidebar.tsx
  src/routes/__root.tsx
  src/routes/dashboard/index.$dbId.tsx
  src/routes/dashboard/route.tsx
  src/views/DesktopContentArea.tsx
Due: frontend
