Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

chore: bump version to 0.2.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat(core): pre-save vault snapshot MVP with enable-backups toggle (#190) (#197)
  src-tauri/src/commands/settings.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/kdbx_save.rs
  src-tauri/tests/services/settings_service_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(ui): surface database.save errors to the UI at every mutation call site (#199)
  src/components/groups/GroupTreeItem.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-nav-tags-controller.ts
  src/hooks/use-tag-mutations.ts
  src/lib/__tests__/save-with-error-toast.test.ts
  src/lib/save-with-error-toast.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/views/MobileContentArea.tsx
Due: frontend

chore(deps): remove unused recharts dependency
  bun.lock
  package.json
  src/components/data-table.tsx
  src/components/ui/chart.tsx
Due: frontend

chore(deps): remove unused recharts dependency (#202)
  bun.lock
  package.json
  src/components/data-table.tsx
  src/components/ui/chart.tsx
Due: frontend

fix(ui): keep query cache and toasts consistent when save fails after mutation
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-tag-mutations.ts
  src/routes/dashboard/entry/$id.tsx
Due: frontend

fix(ui): stop treating save failure as mutation failure
  src/components/groups/GroupTreeItem.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-nav-tags-controller.ts
  src/hooks/use-tag-mutations.ts
  src/lib/__tests__/save-with-error-toast.test.ts
  src/lib/save-with-error-toast.ts
  src/routes/dashboard/entry/$id.tsx
  src/views/MobileContentArea.tsx
Due: frontend

add tests
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/__tests__/use-group-mutations.test.tsx
  src/hooks/__tests__/use-tag-mutations.test.tsx
Due: frontend

test(hooks): cover update/move/delete/rename mutations on save-failure
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/__tests__/use-group-mutations.test.tsx
Due: frontend

feat(ui): surface database.save errors to the UI at every mutation call site (#201)
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-entry-mutations.test.tsx
  src/hooks/__tests__/use-group-mutations.test.tsx
  src/hooks/__tests__/use-tag-mutations.test.tsx
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-tag-mutations.ts
  src/lib/__tests__/save-with-error-toast.test.ts
  src/lib/save-with-error-toast.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/views/MobileContentArea.tsx
Due: frontend

feat(core): snapshot rotation with count cap and manual-exclusion glob (#191)
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/backups/rotation.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/kdbx_save.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): satisfy CI typecheck and clippy for rotation slice
  src-tauri/src/services/kdbx/backups/rotation.rs
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
Due: frontend, backend

fix(core): address Codex review on snapshot rotation (#208)
  src-tauri/src/services/kdbx/backups/rotation.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
Due: backend

fix(core): use is_ok_and on file_type for clippy 1.95
  src-tauri/src/services/kdbx/backups/rotation.rs
Due: backend

feat(core): snapshot rotation with count cap and manual-exclusion glob (#191) (#208)
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/backups/rotation.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/kdbx_save.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): custom backup directory override (#192)
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): avoid Array.prototype.at in BackupsSettingsSection tests
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
Due: frontend

fix(core): isolate per-source-vault histories in override backup directory
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/tests/backups.rs
Due: backend

feat(core): custom backup directory override (#192) (#209)
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

chore: scaffold agent-skills configuration
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

chore: scaffold agent-skills configuration (#210)
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

feat(core): optional backup-on-open with size+mtime dedup and fail-open warning
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/App.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-backup-warning.test.ts
  src/hooks/use-backup-warning.ts
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

test(ui): add onOpen to backup fixtures for typecheck
  src/components/settings/__tests__/SettingsView.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
Due: frontend

security(core): harden open-side backup hook per PR review
  src-tauri/src/commands/database.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/kdbx_open.rs
Due: backend

fix(core): tolerate cross-filesystem mtime rounding in open-side dedup
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/tests/backups.rs
Due: backend

style(core): use is_ok_and for mtime tolerance check
  src-tauri/src/services/kdbx/backups/mod.rs
Due: backend

fix(core): dedup open-side backups by content, not metadata proxies
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/tests/backups.rs
Due: backend

perf(core): stream open-side dedup compare instead of buffering both files
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/tests/backups.rs
Due: backend

feat(core): optional backup-on-open with size+mtime dedup and fail-open warning (#211)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/App.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsSettingsSection.tsx
  src/components/settings/sections/__tests__/BackupsSettingsSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-backup-warning.test.ts
  src/hooks/use-backup-warning.ts
  src/lib/tauri.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core,ui): backup list and delete in Settings with live event refresh (#194)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

fix(core): use map_or to satisfy clippy::map_unwrap_or
  src-tauri/src/services/kdbx/backups/mod.rs
Due: backend

security(core): harden backup list/delete and manual-snapshot detection
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
Due: backend

security(core): scope list_backups to open vaults; require snapshot shape for delete_backup
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/commands/database_test.rs
Due: backend

feat(core,ui): backup list and delete in Settings with live refresh (#194) (#212)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/backups.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): manual backup command and Settings button (rotation-exempt)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): manual backup command and Settings button (rotation-exempt) (#213)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/backups/filename.rs
  src-tauri/src/services/kdbx/backups/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/en/common.json
Due: frontend, backend

feat(core,ui): in-place restore with pre-restore snapshot and vault auto-close (#196)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/restore.rs
  src/components/settings/sections/BackupsListSection.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/hooks/use-database-closed.ts
  src/lib/tauri.ts
  src/locales/en/common.json
  src/routes/__root.tsx
Due: frontend, backend

fix(core): pre-restore snapshot must survive rotation and ignore enabled toggle
  src-tauri/src/services/kdbx/restore.rs
Due: backend

fix(core,ui): guard restore against unsaved edits and evict stale query cache
  src-tauri/src/dto/error.rs
  src-tauri/src/services/kdbx/restore.rs
  src/hooks/__tests__/use-database-closed.test.tsx
  src/hooks/use-database-closed.ts
Due: frontend, backend

fix(core,ui): serialize restore against concurrent mutations + dedupe success toast
  src-tauri/src/services/kdbx/restore.rs
  src/components/settings/sections/BackupsListSection.tsx
Due: frontend, backend
