Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

fix(core): surface compact malformed lines, linearize size-cap trim
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
Due: backend

feat(core): age-based audit log retention with 10 MB size cap (#222) (#234)
  CONTEXT.md
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/audit/storage.rs
Due: backend

fix(ui,core): audit log row markup + command-level tests (#223)
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/audit_test.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

test(ui): use non-temp placeholder dbId in AuditLogSection tests
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

test(ui): prefer .dataset over getAttribute in AuditLogSection tests
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

refactor(ui): extract event-list renderer in AuditLogSection
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

refactor(ui): promote EventList to a top-level component
  src/components/settings/sections/AuditLogSection.tsx
Due: frontend

feat(core,ui): audit log vault picker, filters, virtualization, degraded indicator (#223) (#235)
  src-tauri/src/commands/audit.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/lib.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/audit_test.rs
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

ci(sonar): wire SonarQube Cloud coverage import
  .github/workflows/coverage.yml
  sonar-project.properties
Due: none

security: harden release workflows against script injection and over-broad permissions
  .github/workflows/release-build.yml
  .github/workflows/release-tag.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
Due: none

test(ui): rename /tmp placeholder paths to /mock in test fixtures
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-auto-lock.test.ts
  src/hooks/__tests__/use-database-closed.test.tsx
  src/lib/tauri.test.ts
Due: frontend

ci: skip SonarQube scan when SONAR_TOKEN is unavailable
  .github/workflows/coverage.yml
Due: none

security: harden release workflows and wire SonarQube coverage import (#236)
  .github/workflows/coverage.yml
  .github/workflows/release-build.yml
  .github/workflows/release-tag.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  sonar-project.properties
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/sections/__tests__/BackupsListSection.test.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/__tests__/use-auto-lock.test.ts
  src/hooks/__tests__/use-database-closed.test.tsx
  src/lib/tauri.test.ts
Due: frontend

feat(ui): translate audit log panel and event labels to de/es/fr/sr (#224)
  src/locales/de/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

ci: fix coverage workflow startup failure on Sonar token guard
  .github/workflows/coverage.yml
Due: none

ci: fix coverage workflow startup failure on Sonar token guard (#238)
  .github/workflows/coverage.yml
Due: none

feat(ui): translate audit log panel and event labels to de/es/fr/sr (#224) (#237)
  src/locales/de/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

security: drop Math.random tab-id fallback, rely on crypto.randomUUID
  src/stores/database-tabs.ts
Due: frontend

security: drop Math.random tab-id fallback, rely on crypto.randomUUID (#239)
  src/stores/database-tabs.ts
Due: frontend

docs: add Password Health glossary and ADR 0002
  CONTEXT.md
  docs/adr/0002-password-health-report.md
Due: none

ci: remove unused claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

docs: add password health glossary and ADR 0002 (#244)
  .github/workflows/claude-code-review.yml
  CONTEXT.md
  docs/adr/0002-password-health-report.md
Due: none

refactor(core): extract install_open_database helper for KDBX open paths
  src-tauri/src/services/kdbx/open.rs
Due: backend

refactor(core): extract install_open_database helper for KDBX open paths (#247)
  src-tauri/src/services/kdbx/open.rs
Due: backend

feat(core): password-health analyzer and scope filter (#241)
  src-tauri/src/services/mod.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/mod.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

style: apply rustfmt to password_health analyzer
  src-tauri/src/services/password_health/analyzer.rs
Due: backend

feat(core): expose get_password_health_report Tauri command (#241)
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/password_health.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/dto/password_health.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/cache.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

feat(core): PasswordHealthService with (db_id, generation) cache (#241)
  src-tauri/src/services/password_health/cache.rs
  src-tauri/src/services/password_health/mod.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

feat(ui): password health frontend — sidebar badge, entry icons, security route (#241)
  src-tauri/src/services/password_health/service.rs
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/layout/app-sidebar.tsx
  src/components/security/PasswordHealthReportView.tsx
  src/hooks/use-password-health.ts
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
  src/lib/query-keys.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routeTree.gen.ts
  src/routes/dashboard/security.$dbId.tsx
Due: frontend, backend

feat(core): evict password-health cache on Vault lock (#241)
  src-tauri/src/commands/database.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/password_health/service.rs
  src-tauri/tests/command_handlers_test.rs
Due: backend

feat(core): generation counter on OpenDatabase for password-health cache (#241)
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/vault.rs
Due: backend

refactor(ui): use dataset for data attributes in AuditLogSection tests
  src/components/security/PasswordHealthReportView.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
Due: frontend

refactor(ui): extract requireUnlockedTab shared route guard
  src/lib/require-unlocked-tab.ts
  src/routes/dashboard/index.$dbId.tsx
  src/routes/dashboard/security.$dbId.tsx
Due: frontend

refactor(core): dedup is_in_recycle_bin + password-health test setup
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/recycle.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

fix(ui): password-health dbId is a Vault path, not a GUID (#241)
  src/components/security/PasswordHealthReportView.tsx
  src/lib/tauri.ts
Due: frontend

fix(core): make password-health cache time-aware + treat equal expiry as expired
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/cache.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

fix(core): evict password-health cache on auto-lock and screen-lock paths
  src-tauri/src/lib.rs
  src-tauri/src/services/auto_lock.rs
Due: backend

fix(ui): nest dotted finding translation keys + switch-to-if in severityOf
  src/lib/password-health.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

fix(ui): invalidate password-health query after entry and group mutations
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
Due: frontend

fix(core): evict password-health cache on close and restore paths
  src-tauri/src/commands/database.rs
  src-tauri/tests/command_handlers_test.rs
Due: backend
