Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

fix(ui): set selectedEntryId before navigating from Security report
  src/components/security/PasswordHealthReportView.tsx
Due: frontend

feat(core): password-health weak/very-weak via zxcvbn (#242)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/dto/password_health.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

feat(ui): critical findings section + red OctagonAlert (#242)
  src/components/entries/EntryListItem.tsx
  src/components/security/PasswordHealthReportView.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

security(core): hold password-health cleartext in SecureString (#242)
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/service.rs
Due: backend

fix(ui): make password-health report view scrollable
  src/components/security/PasswordHealthReportView.tsx
Due: frontend

test(core): de-flake passphrase tests against hyphenated diceware words
  src-tauri/src/services/generator.rs
Due: backend

feat: password health — weak / very-weak via zxcvbn (#242) (#253)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/dto/password_health.rs
  src-tauri/src/services/generator.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/service.rs
  src/components/entries/EntryListItem.tsx
  src/components/security/PasswordHealthReportView.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core,ui): password health reused detection with inline group expansion (#243)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/dto/password_health.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/cache.rs
  src-tauri/src/services/password_health/service.rs
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/components/security/PasswordHealthReportView.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/components/security/ReusedGroupRow.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(ui): satisfy strict TS — exactOptionalPropertyTypes + index access
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/components/security/ReusedGroupRow.test.tsx
Due: frontend

fix(ui): hide reuse groups whose members are all Critical (#256 review)
  src/components/security/PasswordHealthReportView.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
Due: frontend

fix(ui): move all-Critical reuse groups to Critical section (#256 review)
  src/components/security/PasswordHealthReportView.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
Due: frontend

feat(core,ui): password health reused detection with inline group expansion (#256)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/dto/password_health.rs
  src-tauri/src/services/password_health/analyzer.rs
  src-tauri/src/services/password_health/cache.rs
  src-tauri/src/services/password_health/service.rs
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/components/security/PasswordHealthReportView.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/components/security/ReusedGroupRow.tsx
  src/lib/__tests__/password-health.test.ts
  src/lib/password-health.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

docs: add Entry Expiry term to domain glossary
  CONTEXT.md
Due: none

docs: add Entry Expiry term to domain glossary (#268)
  CONTEXT.md
Due: none

feat(core,ui): persist entry expiry through the full stack
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/restore.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/secure_memory.rs
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-sorted-entries.test.ts
  src/lib/search-utils.test.ts
  src/lib/tag-utils.test.ts
  src/lib/types.ts
Due: frontend, backend

refactor(core): make expiry validation atomic and dedupe tests
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/entries.rs
Due: backend

fix(core): reject enabling entry expiry without a timestamp
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/entries.rs
Due: backend

test(core): extract shared kdbx create_test_database fixture
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/test_support.rs
Due: backend

feat(core,ui): persist entry expiry through the full stack (#269)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/custom_icons.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/favicons/mod.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/restore.rs
  src-tauri/src/services/kdbx/test_support.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_open.rs
  src-tauri/tests/secure_memory.rs
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-sorted-entries.test.ts
  src/lib/search-utils.test.ts
  src/lib/tag-utils.test.ts
  src/lib/types.ts
Due: frontend, backend

feat(ui): add DateTimePicker primitive (shadcn date+time, dayjs)
  bun.lock
  package.json
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-time-picker.tsx
Due: frontend

test(ui): cover DateTimePicker handler branches; hoist Calendar subcomponents
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-time-picker.tsx
Due: frontend

refactor(ui): update CalendarChevron component to use Readonly props
  src/components/ui/calendar.tsx
Due: frontend

feat(ui): add DateTimePicker primitive (shadcn date+time, dayjs) (#270)
  bun.lock
  package.json
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/dialog.tsx
Due: frontend

feat(ui): entry expiry editor field (checkbox + presets + picker)
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/entry-edit-form/EntryExpiryField.tsx
  src/components/entries/entry-edit-form/index.ts
  src/hooks/use-entry-edit-form.ts
  src/lib/__tests__/formTypes.test.ts
  src/lib/entry-expiry.test.ts
  src/lib/entry-expiry.ts
  src/lib/formTypes.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/test/setup.ts
Due: frontend

refactor(types): use Readonly for props in EntryEditForm and EntryExpiryField components
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/entry-edit-form/EntryExpiryField.tsx
Due: frontend

feat(ui): entry expiry editor field (checkbox + presets + picker) (#275)
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/entry-edit-form/EntryExpiryField.tsx
  src/components/entries/entry-edit-form/index.ts
  src/hooks/use-entry-edit-form.ts
  src/lib/__tests__/formTypes.test.ts
  src/lib/entry-expiry.test.ts
  src/lib/entry-expiry.ts
  src/lib/formTypes.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/test/setup.ts
Due: frontend

feat(ui): expired entry indicator (strikethrough title + badge)
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/lib/entry-expiry.test.ts
  src/lib/entry-expiry.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

fix(ui): allow undefined expiryTime in isExpired under exactOptionalPropertyTypes
  src/lib/entry-expiry.ts
Due: frontend

feat(ui): expired entry indicator (strikethrough title + badge) (#276)
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/EntryListItem.tsx
  src/lib/entry-expiry.test.ts
  src/lib/entry-expiry.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

docs: add attachments domain language and export-model ADR
  CONTEXT.md
  docs/adr/0003-entry-attachments-export-model.md
Due: none

chore: sync agent skills and lockfile
  .agents/skills/grill-with-docs/CONTEXT-FORMAT.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/teach/GLOSSARY-FORMAT.md
  .agents/skills/teach/LEARNING-RECORD-FORMAT.md
  .agents/skills/teach/MISSION-FORMAT.md
  .agents/skills/teach/RESOURCES-FORMAT.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-prd/SKILL.md
  skills-lock.json
Due: none

docs: attachments domain language + export-model ADR (#289)
  .agents/skills/grill-with-docs/CONTEXT-FORMAT.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/teach/GLOSSARY-FORMAT.md
  .agents/skills/teach/LEARNING-RECORD-FORMAT.md
  .agents/skills/teach/MISSION-FORMAT.md
  .agents/skills/teach/RESOURCES-FORMAT.md
  .agents/skills/teach/SKILL.md
  .agents/skills/to-prd/SKILL.md
  CONTEXT.md
  docs/adr/0003-entry-attachments-export-model.md
  skills-lock.json
Due: none

fix(deps): write KDBX 4.1 for keepass 0.13 (4.0 output no longer supported)
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/kdbx_create.rs
  src-tauri/tests/kdbx_header.rs
  src-tauri/tests/kdbx_open.rs
Due: backend

feat(core): surface entry attachment metadata (read-only)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-sorted-entries.test.ts
  src/lib/entry-attachment.test.ts
  src/lib/entry-attachment.ts
  src/lib/search-utils.test.ts
  src/lib/tag-utils.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

refactor: use Readonly for props in EntryItemDetails and related components
  src/components/entries/EntryEditForm.tsx
  src/components/entries/EntryItemDetails.tsx
Due: frontend

feat(core): surface entry attachment metadata (read-only) (#290)
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/conversions.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryEditForm.tsx
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryListItem.test.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/security/ReusedGroupRow.test.tsx
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-sorted-entries.test.ts
  src/lib/entry-attachment.test.ts
  src/lib/entry-attachment.ts
  src/lib/search-utils.test.ts
  src/lib/tag-utils.test.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): download an attachment (on-demand byte fetch + audit)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

fix(core): harden attachment export against partial writes and stale clicks
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
Due: frontend, backend

feat(core): download an attachment (on-demand byte fetch + audit) (#291)
  src-tauri/src/commands/entries.rs
  src-tauri/src/dto/audit.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/audit/format.rs
  src-tauri/src/services/audit/retention.rs
  src-tauri/src/services/audit/service.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/EntryItemDetails.test.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/settings/sections/AuditLogSection.tsx
  src/components/settings/sections/__tests__/AuditLogSection.test.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend
