Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(core): satisfy clippy in settings preferences flow
  src-tauri/src/commands/settings.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/services/settings_service_test.rs
Due: backend

feat(settings): implement app and database settings split with persistent preferences
  research.md
  src-tauri/tests/services/settings_service_test.rs
Due: none

fix(ui): address PR review comments on settings and theme hook
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/theme-provider.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/views/SettingsView.tsx
Due: frontend

fix(ui): avoid persisting theme before saving settings
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/theme-provider.tsx
  src/views/SettingsView.tsx
Due: frontend

feat(ui): implement settings preferences page with app/database split (#132)
  AGENTS.md
  CLAUDE.md
  research.md
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/App.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/entries/__tests__/PasswordGeneratorPopover.test.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/site-settings-header.tsx
  src/components/settings/SettingsSection.tsx
  src/components/settings/__tests__/SettingsSection.test.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/theme-provider.tsx
  src/components/ui/sonner.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/hooks/use-app-preferences.ts
  src/hooks/use-clipboard-timeout.ts
  src/hooks/use-database-config.ts
  src/hooks/use-theme.ts
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/routes/settings/index.tsx
  src/views/SettingsView.tsx
Due: frontend, backend

feat(i18n): add internationalization support with `react-i18next`
  CLAUDE.md
  bun.lock
  package.json
Due: none

feat(i18n): add German (de) and English (en) locale files
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(i18n): implement locale management with tests and hooks
  src/hooks/__tests__/use-language-sync.test.tsx
  src/hooks/use-language-sync.ts
  src/lib/__tests__/i18n-constants.test.ts
  src/lib/__tests__/i18n.test.ts
  src/lib/i18n-constants.ts
  src/lib/i18n.ts
  src/types/i18next.d.ts
Due: frontend

feat(i18n): localize strings in `useEntryEditForm` and replace hardcoded messages
  src/hooks/use-entry-edit-form.ts
Due: frontend

feat(i18n): localize KeyFileStep component in database wizard
  src/components/database/create-wizard/steps/KeyFileStep.tsx
Due: frontend

refactor(ui): centralize entry list interaction logic into `useEntryListInteraction` hook
  src/components/entries/EntryList.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/search/SearchResultsList.tsx
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-list-interaction.ts
Due: frontend

feat(settings): modularize settings sections and add preference editor
  src/components/settings/SettingsEditor.tsx
  src/components/settings/__tests__/settings-utils.test.ts
  src/components/settings/sections/AdvancedSettingsSection.tsx
  src/components/settings/sections/AppearanceSettingsSection.tsx
  src/components/settings/sections/BrowserIntegrationSettingsSection.tsx
  src/components/settings/sections/DatabaseSettingsSection.tsx
  src/components/settings/sections/GeneralSettingsSection.tsx
  src/components/settings/sections/SecuritySettingsSection.tsx
  src/components/settings/settings-utils.ts
  src/views/SettingsView.tsx
Due: frontend

feat(i18n): enhance group delete dialog with translatable entry count formatting
  src/components/groups/GroupTreeDeleteGroupDialog.tsx
Due: frontend

feat(i18n): add color preset localization for supported languages
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(settings): add theme color presets with dynamic mode support
  src-tauri/src/commands/settings.rs
  src/components/settings/SettingsEditor.tsx
  src/components/settings/ThemePresetPicker.tsx
  src/components/settings/ThemePresetSwatch.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/__tests__/ThemePresetPicker.test.tsx
  src/components/settings/sections/AppearanceSettingsSection.tsx
  src/components/theme-provider.tsx
  src/lib/tauri.test.ts
  src/lib/theme-presets.ts
  src/lib/types.ts
Due: frontend, backend

fix(theme): prevent preset preview reset in settings
  src/components/__tests__/theme-provider.test.tsx
  src/components/theme-provider.tsx
Due: frontend

feat(theme): add type-safe label key for color presets and default preset in appearance settings
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/theme-presets.ts
Due: frontend

feat(theme): extend theme color presets with new LOTR-inspired palettes
  src/components/__tests__/theme-provider.test.tsx
  src/components/settings/__tests__/ThemePresetPicker.test.tsx
  src/lib/theme-presets.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend

feat(theme): trigger preset preview on click in ThemePresetPicker
  src/components/settings/ThemePresetPicker.tsx
  src/components/settings/__tests__/ThemePresetPicker.test.tsx
Due: frontend

feat(ui): implement dark/light theme switching with color presets (#137)
  src-tauri/src/commands/settings.rs
  src/components/__tests__/theme-provider.test.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/ThemePresetPicker.tsx
  src/components/settings/ThemePresetSwatch.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/settings/__tests__/ThemePresetPicker.test.tsx
  src/components/settings/sections/AppearanceSettingsSection.tsx
  src/components/theme-provider.tsx
  src/hooks/__tests__/use-app-preferences.test.tsx
  src/lib/tauri.test.ts
  src/lib/theme-presets.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(shortcuts): implement comprehensive keyboard shortcut support with UI integration
  src/components/entries/EntryActions.tsx
  src/components/keyboard-shortcuts-dialog.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/KeyboardShortcutsSettingsSection.tsx
  src/components/ui/shortcut-badge.tsx
  src/hooks/__tests__/use-shortcut.test.ts
  src/hooks/use-create-entry-shortcut.ts
  src/hooks/use-search-shortcut.ts
  src/hooks/use-shortcut.ts
  src/lib/__tests__/shortcuts.test.ts
  src/lib/shortcuts.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/__root.tsx
  src/views/MobileContentArea.tsx
Due: frontend

refactor(sidebar): replace manual keyboard shortcut handling with `useShortcut` hook
  src/components/ui/sidebar.tsx
Due: frontend

feat(shortcuts): add alias support and improve modifier key handling in shortcuts
  src/hooks/__tests__/use-search-shortcut.test.ts
  src/hooks/use-search-shortcut.ts
  src/lib/__tests__/shortcuts.test.ts
  src/lib/shortcuts.ts
Due: frontend

chore: remove stale research.md
  research.md
Due: none

fix(deps): bump tar to 0.4.45 for RustSec advisories
  src-tauri/Cargo.lock
Due: none

fix: resolve keyboard shortcut review findings
  src/components/layout/drag-region.tsx
  src/lib/__tests__/shortcuts.test.ts
  src/lib/shortcuts.ts
Due: frontend

feat(ui): add keyboard shortcuts support (#139)
  research.md
  src-tauri/Cargo.lock
  src/components/entries/EntryActions.tsx
  src/components/keyboard-shortcuts-dialog.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/KeyboardShortcutsSettingsSection.tsx
  src/components/ui/shortcut-badge.tsx
  src/components/ui/sidebar.tsx
  src/hooks/__tests__/use-search-shortcut.test.ts
  src/hooks/__tests__/use-shortcut.test.ts
  src/hooks/use-create-entry-shortcut.ts
  src/hooks/use-search-shortcut.ts
  src/hooks/use-shortcut.ts
  src/lib/__tests__/shortcuts.test.ts
  src/lib/shortcuts.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/__root.tsx
  src/views/MobileContentArea.tsx
Due: frontend

style(rust): format command imports in lib
  src-tauri/src/lib.rs
Due: backend

refactor(core): remove database file locking and lock-file APIs
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/dto/lock.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/dto_lock_test.rs
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

chore(deps): normalize Cargo.lock after lock dependency removal
  src-tauri/Cargo.lock
Due: none

fix(deps): restore compatible Cargo.lock after conflict rebase
  src-tauri/Cargo.lock
Due: none

fix: prevent save_as targeting open database
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/kdbx_save.rs
Due: backend

chore: clarify chrono dependency purpose
  src-tauri/Cargo.toml
Due: none

refactor(core): remove database file locking and lock-file APIs (#143)
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/dto/lock.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/dto_lock_test.rs
  src-tauri/tests/kdbx_save.rs
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
Due: frontend, backend

feat(core): implement cryptographically secure password generator (#36)
  CLAUDE.md
  src-tauri/assets/eff-diceware-wordlist.txt
  src-tauri/src/commands/generator.rs
  src-tauri/src/lib.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/PasswordGeneratorPopover.test.tsx
  src/components/generator/PasswordGeneratorPage.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/hooks/__tests__/use-password-generator.test.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-password-generator.ts
  src/lib/tauri.ts
  src/lib/types.ts
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routes/password-generator.tsx
  vitest.config.ts
Due: frontend, backend

fix(core): replace redundant closures with method references
  src-tauri/src/commands/generator.rs
Due: backend

feat(ui): connect dice button to password generator page
  src/components/layout/drag-region.tsx
Due: frontend

refactor(ui): consolidate password generator components and remove routes
  src/components/entries/PasswordGeneratorDialog.tsx
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/__tests__/PasswordGeneratorDialog.test.tsx
  src/components/entries/entry-edit-form/EntryPasswordField.tsx
  src/components/generator/PasswordGenerator.tsx
  src/components/generator/__tests__/PasswordGeneratorPage.test.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/security/unlock-database-form/DropdownMenuMoreOptions.tsx
  src/components/settings/SettingsEditor.tsx
  src/components/settings/sections/PasswordGeneratorSettingsSection.tsx
  src/locales/de/common.json
  src/locales/en/common.json
  src/locales/es/common.json
  src/locales/fr/common.json
  src/locales/sr/common.json
  src/routeTree.gen.ts
  src/routes/password-generator.tsx
Due: frontend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
