Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

feat(core): implement new database creation with KDBX4 format (#13)
  CLAUDE.md
  EXECUTION_PLAN_ISSUE_13.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/models/database.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

style(tests): format test assertions
  src-tauri/tests/kdbx_integration.rs
Due: none

feat(core): implement new database creation with KDBX4 format (#108)
  CLAUDE.md
  EXECUTION_PLAN_ISSUE_13.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/models/database.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(core): implement atomic write for database saving and add error handling
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/src/utils/atomic_write.rs
  src-tauri/src/utils/mod.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

refactor(tests): simplify error messages for permission assertions
  src-tauri/src/utils/atomic_write.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat(core): handle existing target file during atomic rename on Windows
  src-tauri/src/utils/atomic_write.rs
Due: backend

feat(core): implement database saving with atomic write (#109)
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/src/utils/atomic_write.rs
  src-tauri/src/utils/mod.rs
  src-tauri/tests/kdbx_integration.rs
Due: backend

feat(entries): implement CRUD operations for entries with custom fields support
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/entries.rs
  src-tauri/src/models/entry.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/commands/entries_test.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

refactor(entries): simplify function signatures and improve formatting
  src-tauri/src/commands/entries.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/commands/entries_test.rs
Due: backend

feat(entries): refactor create and update entry functions to use data objects
  src-tauri/src/commands/entries.rs
  src-tauri/src/services/kdbx.rs
  src/lib/tauri.ts
Due: frontend, backend

refactor(entries): streamline icon_id extraction in convert_entry function
  src-tauri/src/services/kdbx.rs
Due: backend

feat(entries): implement protected custom fields handling and retrieval
  AGENTS.md
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/entry.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/commands/entries_test.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

refactor(entries): simplify function signatures for entry retrieval and custom fields collection
  src-tauri/src/services/kdbx.rs
Due: backend

feat(core): implement entry CRUD operations (#110)
  AGENTS.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/entry.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/commands/entries_test.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

style(tests): wrap long assertions
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/kdbx_create.rs
  src-tauri/tests/kdbx_save.rs
Due: backend

fix(core): remove unused entry list helper
  src-tauri/src/services/kdbx/mapping.rs
Due: backend

docs(core): add documentation comments for backend services and commands
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/generator.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/commands/secure_storage.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/src/services/crypto.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/key.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/secure_storage.rs
Due: backend

feat(core): implement group/folder CRUD operations
  src-tauri/src/commands/groups.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/tests/commands/groups_test.rs
Due: backend

feat(core): implement group/folder CRUD operations (#112)
  src-tauri/src/commands/groups.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/groups.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/tests/commands/groups_test.rs
Due: backend

feat(tests): add comprehensive tests for protected fields and passwords
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
Due: none

feat(tests): add comprehensive tests for protected fields and passwords (#113)
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
Due: none

feat(core): implement secure memory handling with zeroization
  CLAUDE.md
  src-tauri/Cargo.toml
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/secure.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/secure_memory.rs
Due: backend

style: format test files
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/secure_memory.rs
Due: none

feat(core): implement secure memory handling with zeroization (#114)
  CLAUDE.md
  src-tauri/Cargo.toml
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/secure.rs
  src-tauri/src/dto/entry.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/src/services/kdbx/mapping.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/secure_memory.rs
Due: backend

feat(core): add database header parsing and validation
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/database.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/kdbx_header.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(core): add database header parsing and validation (#115)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/dto/database.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/header.rs
  src-tauri/src/services/kdbx/mod.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/tests/kdbx_header.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(core): add database file locking and stale lock detection (#116)
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/dto/lock.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_header.rs
  src-tauri/tests/kdbx_open.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

refactor(file_lock): enhance file locking mechanism with structured metadata
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/tests/commands/database_test.rs
Due: backend

fix(core): satisfy clippy for file locks
  src-tauri/src/services/file_lock/mod.rs
Due: backend

chore(tests): allow expect in commands tests
  src-tauri/tests/commands.rs
Due: none

fix(core): harden lock status parsing
  src-tauri/src/services/file_lock/mod.rs
Due: backend

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

ci: add Claude Code GitHub Workflow (#117)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(file_lock): simplify corrupted lock file handling by treating as locked
  src-tauri/src/services/file_lock/mod.rs
Due: backend

feat(core): implement database file locking mechanism (#116)
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/kdbx.rs
  src-tauri/src/dto/error.rs
  src-tauri/src/dto/lock.rs
  src-tauri/src/dto/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/file_lock/mod.rs
  src-tauri/src/services/kdbx/create.rs
  src-tauri/src/services/kdbx/open.rs
  src-tauri/src/services/kdbx/save.rs
  src-tauri/src/services/mod.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/kdbx_entries_groups.rs
  src-tauri/tests/kdbx_header.rs
  src-tauri/tests/kdbx_open.rs
  src/lib/tauri.ts
  src/lib/types.ts
Due: frontend, backend

feat(ui): integrate resizable panel layout and update content structure
  .opencode/agent/review-backend.md
  .opencode/agent/review-devops.md
  .opencode/agent/review-frontend.md
  .opencode/agent/review-lead.md
  bun.lock
  package.json
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryItemDetailsEmpty.tsx
  src/components/entries/EntryList.tsx
  src/components/entries/EntryListItem.tsx
  src/components/layout/drag-region.tsx
  src/index.css
  src/routes/index.tsx
  src/views/DesktopContentArea.tsx
Due: frontend

feat(ui): add core UI components (Avatar, Empty, ScrollArea)
  src/components/ui/avatar.tsx
  src/components/ui/empty.tsx
  src/components/ui/scroll-area.tsx
Due: frontend
