Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

feat(ui): create entry detail view component (#126)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/clipboard.rs
  src-tauri/tests/command_handlers_test.rs
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/EntryItemDetailsEmpty.tsx
  src/components/entries/EntryListItem.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/layout/drag-region.tsx
  src/hooks/__tests__/use-copy-to-clipboard.test.ts
  src/hooks/__tests__/use-entry-detail.test.ts
  src/hooks/use-copy-to-clipboard.ts
  src/hooks/use-entry-detail.ts
  src/lib/tauri.ts
  src/routes/dashboard/entry/$id.tsx
Due: frontend, backend

feat(ui): implement entry edit form and custom fields editor with full functionality
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/generator.rs
  src-tauri/src/lib.rs
  src/components/entries/CustomFieldsEditor.tsx
  src/components/entries/EntryEditForm.tsx
  src/components/entries/IconPickerPopover.tsx
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/TagInput.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/__tests__/TagInput.test.tsx
  src/components/layout/drag-region.tsx
  src/components/ui/input-group.tsx
  src/hooks/use-entry-mutations.ts
  src/lib/formTypes.ts
  src/lib/tauri.ts
  src/routes/dashboard/entry/edit.tsx
  src/routes/dashboard/entry/new.tsx
Due: frontend, backend

refactor(ui): update `useSearch` parameters for consistency and strict mode flexibility
  src/components/entries/EntryList.tsx
  src/components/entries/sort-dropdown.tsx
  src/components/groups/GroupTreeItem.tsx
  src/hooks/use-entry-list-header.ts
  src/routes/dashboard/index.$dbId.tsx
  src/routes/dashboard/index.tsx
Due: frontend

refactor(hooks): remove `useIsMobile` hook as it is no longer in use
  src/hooks/use-mobile.ts
Due: frontend

feat(ui): enhance navigation and entry interactions in mobile and desktop views
  src/components/entries/EntryActions.tsx
  src/components/entries/EntryList.tsx
  src/components/entries/nav-entries.tsx
  src/routes/dashboard/entry/$id.tsx
  src/views/MobileContentArea.tsx
Due: frontend

feat(ui): add unsaved changes handling and entry deletion confirmation
  src/components/layout/drag-region.tsx
Due: frontend

feat(ui): add username suggestions and unsaved changes tracking to EntryEditForm
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
Due: frontend

test(generator): remove expect() usage in tests
  src-tauri/src/commands/generator.rs
Due: backend

refactor(ui): modularize `CustomFieldsEditor` into separate components
  src/components/entries/CustomFieldsEditor.tsx
  src/components/entries/EntryEditForm.tsx
  src/components/entries/custom-fields-editor/CustomFieldRow.tsx
  src/components/entries/custom-fields-editor/CustomFieldValueInput.tsx
  src/components/entries/custom-fields-editor/CustomFieldsEditor.tsx
  src/components/entries/custom-fields-editor/index.ts
  src/components/entries/custom-fields-editor/types.ts
Due: frontend

feat(ui): enhance entry edit form with protected value loading and error handling
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/layout/drag-region.tsx
  src/routes/dashboard/entry/edit.tsx
  src/routes/dashboard/entry/new.tsx
Due: frontend

test(generator): update password generator tests for current implementation
  src-tauri/tests/command_handlers_test.rs
Due: none

feat(ui): add error handling for password generation in `PasswordGeneratorPopover`
  src/components/entries/PasswordGeneratorPopover.tsx
Due: frontend

refactor(entries): split entry edit form into hooks and field components
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditFormFields.test.tsx
  src/components/entries/entry-edit-form/EntryFormActions.tsx
  src/components/entries/entry-edit-form/EntryNotesField.tsx
  src/components/entries/entry-edit-form/EntryPasswordField.tsx
  src/components/entries/entry-edit-form/EntryTagsField.tsx
  src/components/entries/entry-edit-form/EntryTitleField.tsx
  src/components/entries/entry-edit-form/EntryUrlField.tsx
  src/components/entries/entry-edit-form/EntryUsernameField.tsx
  src/components/entries/entry-edit-form/index.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-username-suggestions.ts
Due: frontend

feat(ui): add "Save & New" button and keyboard shortcuts for entry creation
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/entry-edit-form/EntryFormActions.tsx
  src/components/entries/entry-edit-form/EntryTitleField.tsx
  src/components/entries/entry-edit-form/index.ts
  src/components/layout/drag-region.tsx
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/lib/formTypes.ts
  src/views/MobileContentArea.tsx
Due: frontend

feat(ui): add `EntryGroupField` and enhance entry form behavior
  src/components/entries/entry-edit-form/EntryGroupField.tsx
  src/hooks/use-create-entry-shortcut.ts
  src/hooks/use-entry-edit-form.ts
Due: frontend

feat(ui): enhance entry editing with group management and UX improvements
  src/components/entries/EntryEditForm.tsx
  src/components/entries/entry-edit-form/EntryFormActions.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/use-entry-edit-form.ts
  src/lib/tauri.ts
Due: frontend

feat(ui): add support for moving entries between groups
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-mutations.ts
Due: frontend

refactor(hooks): replace `form.watch` with `useWatch` in `useEntryEditForm`
  src/hooks/use-entry-edit-form.ts
Due: frontend

feat(ui): implement entry creation (#128)
  src/components/entries/EntryEditForm.tsx
  src/components/entries/__tests__/EntryEditForm.test.tsx
  src/components/entries/entry-edit-form/EntryFormActions.tsx
  src/components/entries/entry-edit-form/EntryGroupField.tsx
  src/components/entries/entry-edit-form/EntryTitleField.tsx
  src/components/entries/entry-edit-form/index.ts
  src/components/layout/drag-region.tsx
  src/components/security/unlock-database-form/UnlockDbForm.tsx
  src/hooks/use-create-entry-shortcut.ts
  src/hooks/use-entry-edit-form.ts
  src/hooks/use-entry-mutations.ts
  src/hooks/use-group-mutations.ts
  src/lib/formTypes.ts
  src/lib/tauri.ts
  src/views/MobileContentArea.tsx
Due: frontend

feat(groups): add advanced group management and enhancements
  src/components/entries/entry-edit-form/EntryGroupField.tsx
  src/components/groups/GroupTreeItem.tsx
  src/components/groups/GroupTreeItemActions.tsx
  src/hooks/use-group-mutations.ts
  src/lib/group-utils.ts
  src/lib/tauri.ts
Due: frontend

feat(tags): add tag management with filtering support
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryList.tsx
  src/components/layout/app-sidebar.tsx
  src/hooks/use-entry-list-header.ts
  src/hooks/use-tag-mutations.ts
  src/lib/tauri.ts
  src/routes/dashboard/index.$dbId.tsx
Due: frontend, backend

refactor(core): simplify function signatures and format for consistency
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
Due: backend

feat(tags): enhance tag navigation and management
  src/components/layout/drag-region.tsx
  src/components/layout/nav-tags.tsx
Due: frontend

feat(groups): modularize group management dialogs for reusability
  src/components/groups/GroupTreeCreateSubgroupDialog.tsx
  src/components/groups/GroupTreeDeleteGroupDialog.tsx
  src/components/groups/GroupTreeEditGroupDialog.tsx
  src/components/groups/GroupTreeItemActions.tsx
  src/components/groups/GroupTreeMoveGroupDialog.tsx
Due: frontend

refactor(tags): modularize and streamline tag management components
  src/components/layout/nav-tag-item.tsx
  src/components/layout/nav-tags-delete-dialog.tsx
  src/components/layout/nav-tags-rename-dialog.tsx
  src/components/layout/nav-tags.tsx
  src/hooks/use-nav-tags-controller.ts
Due: frontend

fix(tags): align filtering and bulk tag operations
  src-tauri/src/services/kdbx/entries.rs
  src/components/entries/EntryList.tsx
  src/hooks/use-entry-list-header.ts
  src/hooks/use-tags.ts
  src/lib/tag-utils.ts
Due: frontend, backend

test(groups, tags): add unit tests for group and tag utilities, and backend tag mutations
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/entries_test.rs
  src/lib/group-utils.test.ts
  src/lib/tag-utils.test.ts
Due: frontend

test(groups, tags): add unit tests for group and tag utilities, and backend tag mutations
  src-tauri/tests/commands/entries_test.rs
Due: none

fix(core): resolve PR review comments for tag and group flows
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/groups/GroupTreeItem.tsx
  src/components/groups/GroupTreeMoveGroupDialog.tsx
  src/components/layout/drag-region.tsx
  src/lib/tauri.test.ts
  src/lib/tauri.ts
Due: frontend, backend

feat(ui): add group creation and management UI (#129)
  src-tauri/src/commands/entries.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/kdbx/entries.rs
  src-tauri/tests/command_handlers_test.rs
  src-tauri/tests/commands/entries_test.rs
  src/components/entries/EntryList.tsx
  src/components/entries/entry-edit-form/EntryGroupField.tsx
  src/components/groups/GroupTreeCreateSubgroupDialog.tsx
  src/components/groups/GroupTreeDeleteGroupDialog.tsx
  src/components/groups/GroupTreeEditGroupDialog.tsx
  src/components/groups/GroupTreeItem.tsx
  src/components/groups/GroupTreeItemActions.tsx
  src/components/groups/GroupTreeMoveGroupDialog.tsx
  src/components/layout/app-sidebar.tsx
  src/components/layout/drag-region.tsx
  src/components/layout/nav-tag-item.tsx
  src/components/layout/nav-tags-delete-dialog.tsx
  src/components/layout/nav-tags-rename-dialog.tsx
  src/components/layout/nav-tags.tsx
  src/hooks/use-entry-list-header.ts
  src/hooks/use-group-mutations.ts
  src/hooks/use-nav-tags-controller.ts
  src/hooks/use-tag-mutations.ts
  src/hooks/use-tags.ts
  src/lib/group-utils.test.ts
  src/lib/group-utils.ts
  src/lib/tag-utils.test.ts
  src/lib/tag-utils.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/routes/dashboard/index.$dbId.tsx
Due: frontend, backend

feat(search): implement searchable entry list with highlights and results handling
  research.md
  src/components/layout/drag-region.tsx
  src/components/search-form.test.tsx
  src/components/search-form.tsx
  src/components/search/SearchResultItem.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/ui/highlighted-text.tsx
  src/hooks/__tests__/use-debounce.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-debounce.ts
  src/hooks/use-search-entries.ts
  src/hooks/use-search-shortcut.ts
  src/lib/search-utils.test.ts
  src/lib/search-utils.ts
  src/views/MobileContentArea.tsx
Due: frontend

fix(search): resolve PR feedback without ui primitive changes
  src/components/layout/drag-region.tsx
  src/components/search-form.test.tsx
  src/components/search-form.tsx
  src/lib/search-utils.test.ts
  src/lib/search-utils.ts
  src/views/MobileContentArea.tsx
Due: frontend

feat(ui): implement global search functionality (#130)
  research.md
  src/components/layout/drag-region.tsx
  src/components/search-form.test.tsx
  src/components/search-form.tsx
  src/components/search/SearchResultItem.tsx
  src/components/search/SearchResultsList.tsx
  src/components/search/__tests__/SearchResultItem.test.tsx
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/components/ui/highlighted-text.tsx
  src/hooks/__tests__/use-debounce.test.ts
  src/hooks/__tests__/use-search-entries.test.ts
  src/hooks/use-debounce.ts
  src/hooks/use-search-entries.ts
  src/hooks/use-search-shortcut.ts
  src/lib/search-utils.test.ts
  src/lib/search-utils.ts
  src/views/MobileContentArea.tsx
Due: frontend

test(ui): add search highlighting and shortcut coverage
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/hooks/__tests__/use-search-shortcut.test.ts
  src/lib/search-utils.test.ts
Due: frontend

test(ui): add search highlighting and shortcut coverage (#131)
  src/components/search/__tests__/SearchResultsList.test.tsx
  src/hooks/__tests__/use-search-shortcut.test.ts
  src/lib/search-utils.test.ts
Due: frontend

feat(preferences): add app preferences management and UI integration
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/settings.rs
  src-tauri/tests/commands/settings_test.rs
  src-tauri/tests/services/settings_service_test.rs
  src-tauri/tests/services/settings_service_unitlike_test.rs
  src/App.tsx
  src/components/entries/EntryItemDetails.tsx
  src/components/entries/PasswordGeneratorPopover.tsx
  src/components/entries/__tests__/EntryItemDetails.test.tsx
  src/components/entries/__tests__/PasswordGeneratorPopover.test.tsx
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/database-switcher.tsx
  src/components/layout/site-settings-header.tsx
  src/components/settings/SettingsSection.tsx
  src/components/settings/__tests__/SettingsSection.test.tsx
  src/components/settings/__tests__/SettingsView.test.tsx
  src/components/ui/sonner.tsx
  src/hooks/__tests__/use-app-settings.test.tsx
  src/hooks/use-app-preferences.ts
  src/hooks/use-clipboard-timeout.ts
  src/hooks/use-database-config.ts
  src/hooks/use-theme.ts
  src/lib/query-keys.ts
  src/lib/tauri.test.ts
  src/lib/tauri.ts
  src/routes/settings/index.tsx
  src/views/SettingsView.tsx
Due: frontend, backend

feat(preferences): add app preferences management and UI integration
  src/components/theme-provider.tsx
  src/lib/types.ts
Due: frontend

docs(architecture): document settings split and persistence model
  AGENTS.md
  CLAUDE.md
Due: none

feat(ui): replace reset confirmation prompt with dialog
  src/components/settings/__tests__/SettingsView.test.tsx
  src/views/SettingsView.tsx
Due: frontend
