Repository SchnitzelAndSpaetzle/mithril-vault: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 70%
        threshold: 2%
    patch:
      default:
        target: 70%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

feat(tests): remove unreliable TTL expiration test for session key
  src-tauri/src/services/secure_storage.rs
Due: backend

feat(core): implement secure storage with tauri-plugin-stronghold (#99)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/secure_storage.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/keychain.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/secure_storage.rs
Due: backend

docs: highlight signed commit guidance
  CONTRIBUTING.md
  README.md
Due: none

docs: highlight signed commit guidance (#103)
  CONTRIBUTING.md
  README.md
Due: none

chore(config): integrate eslint `defineConfig` and update ignores
  .prettierignore
  eslint.config.js
  vite.config.ts
Due: none

chore(deps): add @tanstack router dependencies and update bun.lock
  bun.lock
  package.json
Due: none

feat(router): implement TanStack Router with root and index routes
  src/main.tsx
  src/routeTree.gen.ts
Due: frontend

feat(router): add root and home page components with basic structure
  src/routes/__root.tsx
  src/routes/index.tsx
Due: frontend

feat(ui): add `AppSidebar` with navigation and workspace support
  src/routes/index.tsx
Due: frontend

feat(ui): introduce `ThemeProvider` for global theme management
  src/App.tsx
  src/components/theme-provider.tsx
  src/routes/__root.tsx
Due: frontend

feat(ui): add Tailwind CSS integration and global styles
  src/index.css
  src/main.tsx
  vite.config.ts
Due: frontend

refactor(utils): replace custom `cn` implementation with `clsx` and `tailwind-merge`
  src/lib/utils.ts
Due: frontend

chore(deps): update dependencies in `bun.lock`
  bun.lock
  package.json
Due: none

feat(ui): add `AppSidebar` component with modular navigation
  src/components/app-sidebar.tsx
Due: frontend

chore(config): add `components.json` for shadcn/ui configuration
  components.json
Due: none

feat(ui): add reusable and accessible UI components
  src/components/nav-actions.tsx
  src/components/nav-favorites.tsx
  src/components/nav-main.tsx
  src/components/nav-secondary.tsx
  src/components/nav-workspaces.tsx
  src/components/team-switcher.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/popover.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.test.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
  src/hooks/use-mobile.tsx
Due: frontend

chore(tests): remove obsolete `SidebarMenuSkeleton` test file
  src/components/ui/sidebar.test.tsx
Due: frontend

feat(data-table): add drag-and-drop sortable data-table component with mock data
  src/components/data-table.tsx
  src/mock/tabe-mock-data.json
Due: frontend

feat(index): replace breadcrumbs with `SearchForm` and integrate `DataTable`
  bun.lock
  package.json
  src/components/app-sidebar.tsx
  src/components/nav-actions.tsx
  src/components/search-form.tsx
  src/routes/index.tsx
Due: frontend

feat(ui): add reusable components
  src/components/ui/badge.tsx
  src/components/ui/card.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/drawer.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
Due: frontend

chore(deps): add `package-lock.json` to track dependency tree and lock versions
  package-lock.json
Due: none

feat(icons): add custom `OneDriveIcon`, `GoogleDriveIcon`, and `DropBoxIcon` components
  src/components/ui/customIcons/DropBoxIcon.tsx
  src/components/ui/customIcons/GoogleDriveIcon.tsx
  src/components/ui/customIcons/OneDriveIcon.tsx
Due: frontend

feat(routes): add `open-db` and `new-db` routes with initial components
  src/routes/new-db.tsx
  src/routes/open-db.tsx
Due: frontend

feat(unlock-database-form): add initial components for database unlocking flow
  src/components/security/unlock-database-form/DropdownMenuMoreOptions.tsx
  src/components/security/unlock-database-form/DropdownMenuOpenDatabase.tsx
  src/components/security/unlock-database-form/InputGroupPassword.tsx
  src/components/security/unlock-database-form/RecentOpenedDatabaseItems.tsx
Due: frontend

feat(unlock-database-form): add initial components for database unlocking flow
  src/components/security/unlock-database-form/login-form.tsx
Due: frontend

feat(routes): update `routeTree` to include `open-db` and `new-db` routes
  .gitignore
  src/routeTree.gen.ts
Due: frontend

feat(ui): add foundational components for alerts, fields, input groups, and items
  src/components/ui/alert.tsx
  src/components/ui/field.tsx
  src/components/ui/input-group.tsx
  src/components/ui/item.tsx
  src/components/ui/textarea.tsx
Due: frontend

feat(core): integrate KdbxService with Tauri commands
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/lib.rs
Due: backend

feat(tests): add unit tests for Tauri command handlers
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
Due: none

feat(core): implement KDBX4 file reading with password authentication (#104)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/entries.rs
  src-tauri/src/commands/groups.rs
  src-tauri/src/lib.rs
  src-tauri/tests/commands.rs
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
Due: backend

feat(tests): expand KDBX integration tests and expose database version
  src-tauri/src/models/database.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
  src/lib/types.ts
Due: frontend, backend

feat(tests): expand KDBX integration tests and expose database version (#105)
  src-tauri/src/models/database.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/kdbx_integration.rs
  src/lib/types.ts
Due: frontend, backend

feat(routes): add `password-generator` and `settings` routes with UI components
  src/assets/nikola-cirkovic-zemun.jpg
  src/components/layout/app-settings-sidebar.tsx
  src/components/layout/site-settings-header.tsx
  src/components/security/unlock-database-form/DropdownMenuMoreOptions.tsx
  src/routeTree.gen.ts
  src/routes/password-generator.tsx
  src/routes/settings/index.tsx
Due: frontend

feat(core): add support for keyfile-only and password+keyfile authentication in KdbxService
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/fixtures/README.md
  src/lib/tauri.ts
Due: frontend, backend

test(kdbx): add keyfile-only authentication tests
  src-tauri/tests/fixtures/test-keyfile-only-kdbx4.kdbx
  src-tauri/tests/kdbx_integration.rs
Due: none

feat(core): implement key file support for authentication (#106)
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/error.rs
  src-tauri/src/services/kdbx.rs
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/fixtures/test-keyfile-only-kdbx4.kdbx
  src-tauri/tests/kdbx_integration.rs
  src/lib/tauri.ts
Due: frontend, backend

test(kdbx): Save As with keyfile authentication tests
  src-tauri/tests/kdbx_integration.rs
Due: none

test(tests): add KDBX3 and KDBX4 fixtures for low KDF and keyfile scenarios
  src-tauri/tests/fixtures/test-kdbx3-low-KDF.kdbx
  src-tauri/tests/fixtures/test-kdbx4-low-KDF.kdbx
  src-tauri/tests/fixtures/test-keyfile-kdbx4-low-KDF.kdbx
  src-tauri/tests/fixtures/test-keyfile-only-kdbx4-low-KDF.kdbx
Due: none

test(tests): update test fixtures to use low-KDF versions for KDBX4 and KDBX3
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/kdbx_integration.rs
Due: none

feat(core): implement composite key password key file support (#107)
  src-tauri/tests/commands/database_test.rs
  src-tauri/tests/commands/entries_test.rs
  src-tauri/tests/commands/groups_test.rs
  src-tauri/tests/fixtures/README.md
  src-tauri/tests/fixtures/test-kdbx3-low-KDF.kdbx
  src-tauri/tests/fixtures/test-kdbx4-low-KDF.kdbx
  src-tauri/tests/fixtures/test-keyfile-kdbx4-low-KDF.kdbx
  src-tauri/tests/fixtures/test-keyfile-only-kdbx4-low-KDF.kdbx
  src-tauri/tests/kdbx_integration.rs
Due: none
